---
title: Sponsors
---

<article class="base--STYLED">

  <h1 class="page-title">Our Wonderful 2014 Sponsors</h1>
  <p>We'd love to give a big shout out to our awesome sponsors.
    Support these amazing companies that share our ethos.
    Their support is paramount to SassConf's rocking success. </p>

  <p><strong>Thank you all so much</strong>. </p>

    <%= partial "partials/molecules/sponsor" %>


  <p>Find out more about our <%= link_to 'media partners', '/media-partners' %>. </p>

  <hr>

  <p>
    <em><a href="/">SassConf</a> is a conference for front-end developers
      and designers passionate about building a better, more beautiful web.
      <a href="https://twitter.com/sassconf">@sassconf</a></em>
  </p>


</article>

<%= partial "partials/organisms/sponsor" %>
