<p>{{> atoms-button(extra-classes: "btn--big", atoms.button.text: "A Big Button") }}</p>
<p>{{> atoms-button(extra-classes: "btn--small", atoms.button.text: "A Small Button") }}</p>
<p>{{> atoms-button(extra-classes: "btn--full", atoms.button.text: "A Full Width Button that expands to its container") }}</p>
