&lt;div class=&quot;venue-map&quot;&gt;
  &lt;iframe frameborder=&quot;0&quot; scrolling=&quot;no&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot;
          src=&quot;https://maps.google.com/maps?ie=UTF8&amp;amp;q=scholastic+auditorium&amp;amp;fb=1&amp;amp;gl=us&amp;amp;hq=scholastic+auditorium&amp;amp;hnear=0x89c24fa5d33f083b:0xc80b8f06e177fe62,New+York,+NY&amp;amp;cid=0,0,5745950823002065201&amp;amp;ll=40.723993,-73.998302&amp;amp;spn=0.006295,0.006295&amp;amp;t=m&amp;amp;iwloc=A&amp;amp;output=embed&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
