<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">

  <!-- Mobile  Meta -->
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="width">
  <meta http-equiv="cleartype" content="on">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="{{ base_path }}images/ico/favicon.ico">

  <!-- bower:css -->
  <!-- endbower -->

  <!-- bower css components not auto-injected via wiredep -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ base_path }}css/style.css?{{ cacheBuster }}" media="all"/>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6578432/743904/css/fonts.css"/>

  <!-- bower:js -->
  <script src="{{ base_path }}bower_components/modernizr/modernizr.js"></script>
  <script src="{{ base_path }}bower_components/jquery/dist/jquery.js"></script>
  <script src="{{ base_path }}bower_components/eq.js/dist/eq.min.js"></script>
  <script src="{{ base_path }}bower_components/moment/moment.js"></script>
  <script src="{{ base_path }}bower_components/twix/bin/twix.js"></script> 
  <!-- endbower -->

  <!--[if lt IE 9]>
  <script src="{{ base_path}}bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {% pattern-lab-head %}
  <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}" id="skrollr-body">
