<!--<script src="{{ base_path }}js/global.js"></script>-->
<!--<script src="{{ base_path }}js/jquery.parallax.min.js"></script>-->
<script src="{{ base_path }}js/widowtamer-min.js"></script>
<script src="{{ base_path }}bower_components/letteringjs/jquery.lettering.js"></script>
<script src="{{ base_path }}js/main.js"></script>


<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

</body>
</html>
