{{&gt;atoms-radio-button(atoms.radio.group: &quot;Multi Group&quot;)}}
{{&gt;atoms-radio-button(atoms.radio.group: &quot;Multi Group&quot;, atoms.radio.text: &quot;Another Option With Description&quot;, show_description: true, description: &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot;)}}
&lt;div class=&quot;form-item form-type-radio&quot;&gt;
  &lt;label&gt;&lt;input type=&quot;radio&quot; name=&quot;Multi Group&quot; checked&gt;A Selected Option&lt;/label&gt;
&lt;/div&gt;