<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
    <a href="{{ url }}"><div class="rhombus-reset">Home</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Speakers</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Get tickets</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Venue</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Schedule</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Sponsors</div></a>
    <a href="{{ url }}"><div class="rhombus-reset">Code of Conduct</div></a>

    <div class="button"><div class="rhombus-reset">Menu</div></div>
  </label>
</nav>
