&lt;div class=&quot;form-item form-type-radio&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;{{atoms.radio.group}}&quot;&gt;
      {{atoms.radio.text}}
    &lt;/label&gt;
    {{#show_description}}
      &lt;p class=&quot;description&quot;&gt;{{description}}&lt;/p&gt;
    {{/show_description}}
&lt;/div&gt;
