&lt;ul class=&quot;sg-colors&quot;&gt;
  {{#brand_colors}}
    &lt;li&gt;
      &lt;span class=&quot;sg-swatch rhombus {{label}}&quot;&gt;&lt;/span&gt;
      &lt;span class=&quot;sg-label rhombus&quot;&gt;${{label}}&lt;/span&gt;
    &lt;/li&gt;
  {{/brand_colors}}
&lt;/ul&gt;
