{{> organisms-header }}
<div id="content">
  {{> molecules-primary-nav }}
  <main id="st-main" role="main">
    {{> atoms-headings}}
    {{> atoms-modular-scale}}
    {{> organisms-article-body}}
  </main>

  <aside class="st-colors">
    {{> atoms-colors}}
  </aside>

  <aside class="st-images">

  </aside>

  <aside class="st-fonts">
    {{> atoms-fonts}}
  </aside>

  <footer class="st-adjectives"></footer>
</div>
