<div class="style-tile">
  {{> organisms-header }}

  <div id="content">
    {{> molecules-standout }}
    {{> organisms-site-intro }}
    {{> organisms-overview }}
    {{> organisms-reviews }}
    {{> organisms-buy-tickets }}
    {{> molecules-open-community }}
    {{> molecules-mailchimp-signup }}
    {{> organisms-sponsor }}
    {{> organisms-footer }}
  </div>
</div>
