&lt;p&gt;{{&gt; atoms-button(extra-classes: &quot;btn&quot;, atoms.button.text: &quot;A Button&quot;) }}&lt;/p&gt;
&lt;p&gt;{{&gt; atoms-button(extra-classes: &quot;btn--big&quot;, atoms.button.text: &quot;A Big Button&quot;) }}&lt;/p&gt;
&lt;p&gt;{{&gt; atoms-button(extra-classes: &quot;btn--full&quot;, atoms.button.text: &quot;A Full Width Button that expands to its container&quot;) }}&lt;/p&gt;
