///////////////////////////////////////////
// SCRATCH STYLES - REMEMBER TO REFACTOR!
///////////////////////////////////////////


.content-scratch-wrapper {
  position: relative;
  background: {
    color: rgba(white, 0.9);
  }
}
