&lt;header class=&quot;header&quot;&gt;
  &lt;div class=&quot;photo-wrapper&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;rhombus-grid-wrapper layer&quot; data-0=&quot;opacity: 1; top: 0px&quot; data-_photo=&quot;opacity: 0; top: -100px&quot;&gt;
    {{&gt; atoms-rhombus-grid }}
  &lt;/div&gt;
  &lt;div class=&quot;logo-nav layer&quot;&gt;
    &lt;div class=&quot;logo-dates&quot;&gt;
      {{&gt; atoms-logo-rhombus }}
      &lt;h2 class=&quot;rhombus&quot;&gt;
        &lt;div class=&quot;rhombus-reset&quot;&gt;October 2-4, 2014&lt;/div&gt;
      &lt;/h2&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;

