&lt;article class=&quot;on-sale&quot; id=&quot;buy-now&quot;&gt;
  &lt;h1 class=&quot;article-title rhombus&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Get tickets. Don't miss out this year.&lt;/div&gt;&lt;/h1&gt;
  &lt;p&gt;
    Your ticket gets you full admission to the conference,
    including keynotes, workshops, talks, and community day. Plus admission to
    opening reception, main conference party, and closing fiesta.
  &lt;/p&gt;
  &lt;p&gt;We are committed to do our best to
    &lt;a href=&quot;https://sassconf.wufoo.com/forms/sv0cmcw0ehtwqd/&quot;&gt;help anyone make it to Sass Conf&lt;/a&gt;.
  &lt;/p&gt;
  {{&gt; molecules-ticketbud }}
  &lt;script src=&quot;https://s3.amazonaws.com/ticketbud/widgets/tickets.v2.js&quot; type=&quot;text/javascript&quot; class=&quot;ticketbud tickets&quot; data-uuid=&quot;e64e8cae-b923-11e3-a7b4-0b8ff1560192&quot; data-host=&quot;ticketbud.com&quot; async=&quot;&quot;&gt;&lt;/script&gt;
  &lt;p class=&quot;ticket-terms&quot;&gt;&lt;em&gt;&lt;a href=&quot;pages/refund-policy&quot;&gt;Need to cancel or transfer your ticket?&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;
&lt;/article&gt;
