//////////////////////////////
// Typography
//////////////////////////////

$archer: 'Archer SSm A', 'Archer SSm B', serif;
// $archer-sc: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;
// $landmark-dimensional: 'Landmark Dimensional A', 'Landmark Dimensional B';
$landmark-inline: 'Landmark Inline A', 'Landmark Inline B';
// $landmark-shadow: 'Landmark Shadow A', 'Landmark Shadow B';
$landmark-regular: 'Landmark Regular A', 'Landmark Regular B';

//////////////////////
// Default font stacks
$font-sans: sans-serif;
$font-serifs: $archer, serif;
$font-slab: $archer, serif;
$font-mono: 'Source Code Pro', monospace;
//////////////////////

//////////////////////
// General font variables
$font-body: $font-serifs;
$font-headline: $landmark-regular;
$font-display: $landmark-inline;
$font-logo: $font-slab;
$font-amp: $font-slab;
//////////////////////

////////////////////////////
// Modular Scale
//
// Values used to determine modular scale values
// http://modularscale.com/
// $ms-ratio: $major-third;
$ms-ratio: $major-third $golden;
// $ms-base: 1em 2.75em;
$ms-base: 16px;
////////////////////////////

//////////////////////
// Font size and line-height
$base-font-size  : ms(0); // 16px
$base-line-px    : 26px;
$base-line-em    : em($base-line-px);
$base-line-height: unitless($base-line-em);
//////////////////////

//////////////////////
// Headings
// create a list of heading sizes, H1 - H6
// default example uses modular scale
$heading-sizes       : em(ms(6)) em(ms(5)) em(ms(4)) em(ms(3)) em(ms(2)) em(ms(1));
$heading-line-heights: unitless(em($base-line-px * 1.5, ms(6))) unitless(em($base-line-px * 1.5, ms(5))) unitless(em($base-line-px * 1.25, ms(4))) unitless(em($base-line-px, ms(3))) unitless(em($base-line-px, ms(2))) unitless(em($base-line-px, ms(1)));

$heading-sizes-small       : em(ms(3)) em(ms(2)) em(ms(1)) em(ms(0)) em(ms(0)) em(ms(0));
$heading-line-heights-small: unitless(em($base-line-px * 1.5, ms(3))) unitless(em($base-line-px * 1.25, ms(2))) unitless(em($base-line-px, ms(1))) false false false;
//////////////////////
