/* line 5, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 1, ../../../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 11, ../../../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
img, video { max-width: 100%; height: auto; }

@font-face { font-family: 'uikitregular'; src: url('../fonts/uikit.eot?1406174837'); src: url('../fonts/uikit.eot?&1406174837#iefix') format("embedded-opentype"), url('../fonts/uikit.woff?1406174837') format("woff"), url('../fonts/uikit.ttf?1406174837') format("truetype"); font-weight: normal; font-style: normal; }
/* line 1, ../scss/global/extends/_helpers.scss */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea { max-width: 100%; }

/* line 9, ../scss/global/extends/_typography.scss */
code { font-family: "Source Code Pro", monospace; }

/* line 47, ../scss/global/extends/_typography.scss */
strong, b { font-weight: bold; }

/* line 51, ../scss/global/extends/_typography.scss */
em { font-style: italic; }

/* line 55, ../scss/global/extends/_typography.scss */
.font-surveyor { font-family: "Surveyor SSm A", "Surveyor SSm B"; }

/* line 46, ../scss/elements/_body.scss */
body { font-family: sans-serif; color: #7f7f7f; background: white; margin: 0; overflow-x: hidden; -webkit-font-feature-settings: "liga","dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga","dlig"; -ms-font-feature-settings: "liga","dlig"; -o-font-feature-settings: "liga","dlig"; font-feature-settings: "liga","dlig"; }

/* line 55, ../scss/elements/_body.scss */
body[data-menu-position='open'] { border-left: none; }

/* line 96, ../scss/elements/_form.scss */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea { margin-top: 0; margin-bottom: 1.625em; padding-right: 0.5em; padding-left: 0.5em; height: 2.4375em; border-width: 1px; border-color: #7f7f7f; font-size: 16px; font-family: sans-serif; }

/* line 104, ../scss/elements/_form.scss */
textarea { height: 10.5625em; }

/* line 109, ../scss/elements/_form.scss */
label { margin-right: 0.5em; vertical-align: top; line-height: 2.4375em; cursor: pointer; }

/* line 113, ../scss/elements/_form.scss */
input[type="radio"], input[type="checkbox"] { margin-right: 0.25em; margin-left: 0.25em; }

/* line 117, ../scss/elements/_form.scss */
legend { padding: 0 1em; white-space: nowrap; }

/* line 121, ../scss/elements/_form.scss */
fieldset { border-style: dashed; }

/* line 39, ../scss/elements/_heading.scss */
.base--STYLED h1, .base--STYLED h2, .base--STYLED h3, .base--STYLED h4, .base--STYLED h5, .base--STYLED h6 { font-family: "Surveyor SSm A", "Surveyor SSm B"; font-weight: normal; }

/* line 43, ../scss/elements/_heading.scss */
.base--STYLED h1 { font-size: 1.77778em; line-height: 1.37109; margin-bottom: 0.91406em; }

/* line 53, ../scss/elements/_heading.scss */
.base--STYLED h2 { font-size: 1.54688em; line-height: 1.57576; margin-bottom: 1.05051em; }

/* line 63, ../scss/elements/_heading.scss */
.base--STYLED h3 { font-size: 1.33333em; line-height: 1.52344; margin-bottom: 1.21875em; }

/* line 73, ../scss/elements/_heading.scss */
.base--STYLED h4 { font-size: 1.16016em; line-height: 1.40067; }

/* line 81, ../scss/elements/_heading.scss */
.base--STYLED h5 { font-size: 1.16016em; line-height: 1.40067; }

/* line 89, ../scss/elements/_heading.scss */
.base--STYLED h6 { font-size: 1.16016em; line-height: 1.40067; }

/* line 33, ../scss/elements/_html.scss */
html { font-size: 1em; line-height: 1.625; overflow-x: hidden; }

/* line 33, ../scss/elements/_link.scss */
a:not(.button) { color: #7f7f7f; }
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):visited { color: #7f7f7f; }
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):focus { color: #7f7f7f; }
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):hover { color: #7f7f7f; }
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):active { color: #7f7f7f; }

/* line 98, ../scss/elements/_link.scss */
a { text-decoration: none; text-shadow: white -1px 1px 0, white 0 1px 0, white 1px 1px 0; background-image: -moz-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: -webkit-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: linear-gradient(to top, #7f7f7f 1px, #ffffff 2px); }
/* line 47, ../scss/elements/_link.scss */
a:visited { background-image: -moz-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: -webkit-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: linear-gradient(to top, #7f7f7f 1px, #ffffff 2px); }
/* line 50, ../scss/elements/_link.scss */
a:focus { background-image: -moz-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: -webkit-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: linear-gradient(to top, #7f7f7f 1px, #ffffff 2px); }
/* line 53, ../scss/elements/_link.scss */
a:hover { background-image: -moz-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: -webkit-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: linear-gradient(to top, #7f7f7f 1px, #ffffff 2px); }
/* line 56, ../scss/elements/_link.scss */
a:active { background-image: -moz-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: -webkit-linear-gradient(bottom, #7f7f7f 1px, #ffffff 2px); background-image: linear-gradient(to top, #7f7f7f 1px, #ffffff 2px); }

/* line 36, ../scss/elements/_p.scss */
p { margin-bottom: 1.625em; }

/* line 40, ../scss/elements/_p.scss */
.field-intro p { font-size: 1.16016em; line-height: 1.75084; margin-bottom: 2.03125em; }

/* line 37, ../scss/elements/_table.scss */
table { width: 100%; }

/* line 41, ../scss/elements/_table.scss */
thead { border-bottom: 1px solid #7f7f7f; }

/* line 45, ../scss/elements/_table.scss */
th { font-weight: bold; }

/* line 49, ../scss/components/_a11y.scss */
.a11y--element-invisible, .element-invisible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* line 53, ../scss/components/_a11y.scss */
.a11y--element-focusable { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* line 30, ../scss/components/_a11y.scss */
.a11y--element-focusable:active, .a11y--element-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* line 116, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'], .big-button, .call-to-action { display: inline-block; border-radius: 0.25em; border: none; font-family: sans-serif; font-weight: normal; text-transform: uppercase; text-decoration: none; }

/* line 119, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'], .call-to-action { padding: 0.2em 0.5em; font-size: 0.9em; line-height: 1.25; }

/* line 123, ../scss/components/_button.scss */
.big-button { padding: 0.5em 0.75em; font-size: 1.1em; line-height: 1.5; }

/* line 127, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'] { color: #7f7f7f; background-color: #a5a5a5; }
/* line 72, ../scss/components/_button.scss */
button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover { background-color: #b8b8b8; }
/* line 85, ../scss/components/_button.scss */
button:active, input[type='submit']:active, input[type='reset']:active, input[type='button']:active { background-color: #d8d8d8; }

/* line 77, ../scss/components/_button.scss */
.big-button.warning:hover { background-color: #d9d9d9; }
/* line 90, ../scss/components/_button.scss */
.big-button.warning:active { background-color: #f2f2f2; }

/* line 140, ../scss/components/_button.scss */
.big-button { color: #7f7f7f; background-color: #b5b5b5; }
/* line 77, ../scss/components/_button.scss */
.big-button:hover { background-color: #d9d9d9; }
/* line 90, ../scss/components/_button.scss */
.big-button:active { background-color: #f2f2f2; }

/* line 145, ../scss/components/_button.scss */
.call-to-action { color: #7f7f7f; background-color: #1f1f1f; }
/* line 72, ../scss/components/_button.scss */
.call-to-action:hover { background-color: #2f2f2f; }
/* line 85, ../scss/components/_button.scss */
.call-to-action:active { background-color: #676767; }

/* line 9, ../scss/components/_list.scss */
.inline-list { list-style-type: none; }
/* line 6, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_inline-list.scss */
.inline-list, .inline-list li { margin: 0; padding: 0; display: inline; }

/* line 13, ../scss/components/_list.scss */
.no-bullets, .sg-swatch { list-style: none; }
/* line 11, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
.no-bullets li, .sg-swatch li { list-style-image: none; list-style-type: none; margin-left: 0; }

/* line 4, ../scss/components/_logo.scss */
.logo-lockup.dark, .logo-lockup { text-align: center; color: #d300e6; font-family: "Surveyor SSm swash A", "Surveyor SSm swash B"; font-size: 2em; font-weight: 800; padding: .5em; }
/* line 11, ../scss/components/_logo.scss */
.logo-lockup.dark:before, .logo-lockup:before { content: "S"; position: relative; pointer-events: none; z-index: 1; font-weight: 400; font-family: uikitregular; display: block; font-size: 2em; margin: 0 0 0 0; }

/* line 24, ../scss/components/_logo.scss */
.logo-lockup.dark { -webkit-font-smoothing: antialiased; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: center; }

/* line 34, ../scss/components/_logo.scss */
.logo-icon.dark, .logo-icon { display: inline-block; font-family: uikitregular; font-size: 4em; padding: .25em; margin: .25em; width: 1em; height: 1em; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; line-height: 1; border-radius: .75em; }

/* line 48, ../scss/components/_logo.scss */
.logo-icon.dark { -webkit-font-smoothing: antialiased; }

/* line 59, ../scss/components/_logo.scss */
.logo { font-family: uikitregular; list-style: none; padding: 0 0 2em 0; color: #d300e6; }
/* line 64, ../scss/components/_logo.scss */
.logo li { text-align: center; line-height: 1; font-size: 10em; }

/* line 55, ../scss/components/_message.scss */
.message { padding: 0.2em 0.5em; border-style: solid; border-width: .15em; border-radius: .25em; }

/* line 58, ../scss/components/_message.scss */
.message, .message.status { color: #7f7f7f; background-color: #adadad; border-color: #8b8b8b; }

/* line 69, ../scss/components/_message.scss */
.big-button.warning, .message.warning { color: #7f7f7f; background-color: #cccccc; border-color: #a8a8a8; }

/* line 72, ../scss/components/_message.scss */
.message.error { color: #7f7f7f; background-color: #c1c1c1; border-color: #9d9d9d; }

/* line 39, ../scss/components/_pager.scss */
.pager { display: inline; margin: 0; padding: 0; list-style-type: none; }

/* line 42, ../scss/components/_pager.scss */
.pager-first, .pager-previous, .pager-item, .pager-next, .pager-last { display: inline; margin: 0; padding: 0.2em 0.5em; text-transform: uppercase; }

/* line 8, ../scss/_scratch.scss */
body.manhattan { position: relative; width: 100%; background-image: url(../../images/manhattan-zeldman-1800x756.jpg); background-repeat: no-repeat; background-size: contain; }

/* line 16, ../scss/_scratch.scss */
.header { background-color: rgba(0, 0, 0, 0.2); position: relative; height: 0; padding-top: 42%; width: 100%; margin-bottom: 15%; }
/* line 58, ../../../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.5.0/stylesheets/toolkit/_intrinsic-ratio.scss */
.header > * { display: block; position: absolute; width: 100% !important; height: 100% !important; top: 0; margin: 0; padding: 0; }
/* line 20, ../scss/_scratch.scss */
.header .logo-nav { text-align: center; }
/* line 23, ../scss/_scratch.scss */
.header .logo-lockup { background-image: none; color: #ea00ff !important; font-size: 4em; font-family: "Landmark Inline A", "Landmark Inline B"; font-weight: 500; text-shadow: none; text-transform: uppercase; padding: 0; }
/* line 38, ../scss/_scratch.scss */
.header .logo-lockup:before { line-height: 1em; -moz-transform: translateY(0.125em); -ms-transform: translateY(0.125em); -webkit-transform: translateY(0.125em); transform: translateY(0.125em); }
/* line 43, ../scss/_scratch.scss */
.header h2 { background-color: #ea00ff; color: white; font-size: 2em; font-family: "Landmark Regular A", "Landmark Regular B"; position: relative; width: 50%; left: 50%; -moz-transform: skewX(-10deg) translateX(-50%); -ms-transform: skewX(-10deg) translateX(-50%); -webkit-transform: skewX(-10deg) translateX(-50%); transform: skewX(-10deg) translateX(-50%); }

/* line 59, ../scss/_scratch.scss */
.rhombus-grid-wrapper { opacity: 0.6; mix-blend-mode: screen; position: fixed; width: 100%; top: 0; }

/* line 66, ../scss/_scratch.scss */
.rhombus-grid { max-width: 100%; }

/* line 72, ../scss/_scratch.scss */
.rhombus { -moz-transform: skewX(-10deg); -ms-transform: skewX(-10deg); -webkit-transform: skewX(-10deg); transform: skewX(-10deg); }

/* line 75, ../scss/_scratch.scss */
.rhombus-reset { -moz-transform: skewX(10deg); -ms-transform: skewX(10deg); -webkit-transform: skewX(10deg); transform: skewX(10deg); }

/* line 80, ../scss/_scratch.scss */
.content-scratch-wrapper { position: relative; background-color: rgba(255, 255, 255, 0.9); }

/* line 30, ../scss/patternlab/_patternlab.scss */
.sg-label { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

/* line 50, ../scss/patternlab/_patternlab.scss */
.sg-ms li { white-space: nowrap; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-0 { font-size: 16px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-1 { font-size: 18.5625px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-2 { font-size: 21.33333px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-3 { font-size: 24.75px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-4 { font-size: 28.44444px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-5 { font-size: 33.0px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-6 { font-size: 37.92593px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-7 { font-size: 44px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-8 { font-size: 50.5679px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-9 { font-size: 58.66667px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-10 { font-size: 67.42387px; }

@media (min-width: 32em) { /* line 6, ../scss/patternlab/_style-tile.scss */
  #st-main { width: 44.44444%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  /* line 9, ../scss/patternlab/_style-tile.scss */
  .st-colors { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; }
  /* line 12, ../scss/patternlab/_style-tile.scss */
  .st-images { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; }
  /* line 15, ../scss/patternlab/_style-tile.scss */
  .st-adjectives { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; } }

/*# sourceMappingURL=style.css.map */
