&lt;div class=&quot;form-item form-type-checkbox&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot;&gt;
    {{atoms.checkbox.text}}
  &lt;/label&gt;
  {{#show_description}}
    &lt;p class=&quot;description&quot;&gt;{{description}}&lt;/p&gt;
  {{/show_description}}
&lt;/div&gt;
