<header class="header">
  <div class="photo-wrapper"></div>
  <div class="rhombus-grid-wrapper layer" data-0="opacity: 1; top: 0px" data-_photo="opacity: 0; top: -100px">
    {{> atoms-rhombus-grid }}
  </div>
  <div class="logo-nav layer">
    {{> atoms-logo-rhombus }}
    <h2 class="rhombus">
      <div class="rhombus-reset">October 2-4, 2014</div>
    </h2>
  </div>
</header>
{{> molecules-primary-nav }}

