<div class="body scratch-header">
  <header class="header" >
    <div class="header-bg"></div>
    <div class="rhombus-grid-wrapper layer" data-depth="0.5">
      {{> atoms-rhombus-grid }}
    </div>
    <div class="logo-nav layer" data-depth="0.8">
      {{> atoms-logo }}
      <h2 class="rhombus"><div class="rhombus-reset">October 2-4, 2014</div></h2>
      <nav class="m-main-nav">
        <label class="menu-button"><input type="checkbox">
          <a href="/">Home</a>
          <a href="/speakers">Speakers</a>
          <a href="/#buy-now">Get tickets</a>
          <a href="/venue">Venue</a>
          <a href="/code-of-conduct">Code of Conduct</a>
          <div class="button">Menu</div>
        </label>
    </div>
    </nav>
  </header>
</div>
