<div class="body scratch-header">
  <header class="header" >
    {{> atoms-rhombus-grid }}
    <div class="logo-nav">
      {{> atoms-logo }}
      <h2 class="rhombus"><div class="rhombus-reset">October 2-4, 2014</div></h2>
      <nav class="m-main-nav">
        <label class="menu-button"><input type="checkbox">
          <a href="/">Home</a>
          <a href="/speakers">Speakers</a>
          <a href="/#buy-now">Get tickets</a>
          <a href="/venue">Venue</a>
          <a href="/code-of-conduct">Code of Conduct</a>
          <div class="button">Menu</div>
        </label>
    </div>
    </nav>
  </header>
</div>
