@font-face {
  font-family: 'uikitregular';
    src: font-url('uikit.eot');
    src: font-url('uikit.eot?#iefix') format('embedded-opentype'),
    font-url('uikit.woff') format('woff'),
    font-url('uikit.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
