<div id="ticketbud-e64e8cae-b923-11e3-a7b4-0b8ff1560192" class="ticketbud-widget">

  <div class="external" id="events">
    <div class="tickets_wrapper tickets">
      <h3>
        Tickets
      </h3><form accept-charset="UTF-8" action="https://sassconf2014.ticketbud.com/sassconf-2014/register" class="form-horizontal" id="new_event_purchase" method="post" target="_new"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+BGlU/B4wB/B5EKAiKz6rw2qnvGgpwtQ6cjriR5b2Lo="></div>
      <table class="table">
        <thead>
        <tr>
          <th width="40%">
            Ticket
          </th>
          <th>
            Price
          </th>
          <th align="right" width="70">
            Quantity
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="product" id="product_113090">
          <td class="product_name" id="product_name_113090">
            Get Sassy
            <div class="description">
              <div class="truncated">
                <a class="more" href="#more" rel="tooltip" title="Details"><i class="icon-info-sign"></i></a>
              </div>
              <div class="not_truncated hidden">
                <a class="collapse" href="#collapse" rel="tooltip" title="Close Details"><i class="icon-minus-sign"></i></a><br><span>Available until September 2nd, then prices go up to $525</span>
              </div>
            </div>
          </td>
          <td class="product_price">
            <span id="product_price_113090"><span class="original-price">$475.00</span></span>
          </td>
          <td class="product_quantity" id="product_quantity_113090">
            <input id="event_purchase_product_purchases_attributes_0_product_id" name="event_purchase[product_purchases_attributes][0][product_id]" type="hidden" value="113090"><input id="event_purchase_product_purchases_attributes_0_event_id" name="event_purchase[product_purchases_attributes][0][event_id]" type="hidden" value="19400"><input class="product_purchase_discount_code" id="event_purchase_product_purchases_attributes_0_discount_code" name="event_purchase[product_purchases_attributes][0][discount_code]" type="hidden"><select class="ticket_quantity_select" data-face-value="475.0" data-multiplier-quantity="1" data-price="475.0" id="ticket_quantity_select_113090" name="event_purchase[product_purchases_attributes][0][quantity]"><option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option></select>
          </td>
        </tr><tr class="product" id="product_113092">
          <td class="product_name" id="product_name_113092">
            Buy 5 Get 1 Free
            <div class="description">
              <div class="truncated">
                <a class="more" href="#more" rel="tooltip" title="Details"><i class="icon-info-sign"></i></a>
              </div>
              <div class="not_truncated hidden">
                <a class="collapse" href="#collapse" rel="tooltip" title="Close Details"><i class="icon-minus-sign"></i></a><br><span>Based on $525 per ticket. $2,625 per group of 6.</span>
              </div>
            </div>
          </td>
          <td class="product_price">
            <span id="product_price_113092"><span class="original-price">$437.50</span></span>
          </td>
          <td class="product_quantity" id="product_quantity_113092">
            <input id="event_purchase_product_purchases_attributes_1_product_id" name="event_purchase[product_purchases_attributes][1][product_id]" type="hidden" value="113092"><input id="event_purchase_product_purchases_attributes_1_event_id" name="event_purchase[product_purchases_attributes][1][event_id]" type="hidden" value="19400"><input class="product_purchase_discount_code" id="event_purchase_product_purchases_attributes_1_discount_code" name="event_purchase[product_purchases_attributes][1][discount_code]" type="hidden"><select class="ticket_quantity_select" data-face-value="437.5" data-multiplier-quantity="1" data-price="437.5" id="ticket_quantity_select_113092" name="event_purchase[product_purchases_attributes][1][quantity]"><option value="0">0</option>
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="18">18</option></select>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="buy" colspan="4">
            <div class="promotion">
              <label for="event_purchase_promotional_code">Promotional Code</label><input id="event_purchase_promotional_code" name="event_purchase[promotional_code]" placeholder="Promotional Code..." type="text">
            </div>
            <input id="event_purchase_event_id" name="event_purchase[event_id]" type="hidden" value="19400"><input class="btn btn-success" id="register" name="commit" type="submit" value="Buy Now">
          </td>
        </tr>
        </tfoot>
      </table></form>
    </div>
    <div class="powered">
      Event management for SassConf Oct 2-4, 2014 powered by<a href="http://ticketbud.com" target="_new">&nbsp;<img alt="Ticketbud" src="https://ticketbud.com/assets/tb-logo-sm.png" width="125"></a>
    </div>
  </div></div>
