// MODULAR SCALE
.sg-ms {
  white-space: nowrap;
  overflow: hidden;
  li {
    @for $i from 0 through 11 {
      &:nth-of-type(#{$i + 1}) {
        font-size: ms($i);
        &:before {
          content: "ms-#{$i}: ";
        }
      }
    }
  }
}
