{{&gt; atoms-checkbox }}
{{&gt; atoms-checkbox(atoms.checkbox.text: &quot;Another Option with a description&quot;, show_description: true, description: &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot;) }}
&lt;div class=&quot;form-item form-type-checkbox&quot;&gt;
  &lt;label&gt;&lt;input type=&quot;checkbox&quot; checked&gt;A Selected Option&lt;/label&gt;
&lt;/div&gt;
