<div class="review-item">
  <img src=" /lib/img/speakers/chriseppstein.jpg" alt="Chris Eppsteins twitter profile picture">
  <h3 class="speaker">chriseppstein</h3>
  <blockquote>
    This weekend has been a dream come true for me...I am inspired, humbled &amp; honored &lt;3
  </blockquote>
</div>
