{{#reviews}}
  <div class="review-item">
    <div class="review-image"><img src="{{review_img_path}}{{review-image}}" alt="{{alt}}"></div>
    <h3 class="reviewer rhombus"><div class="rhombus-reset">{{ reviewer }}</div></h3>
    <blockquote>{{{ review }}}</blockquote>
  </div>
{{/reviews}}
