&lt;a href=&quot;{{ url }}&quot; class=&quot;logo-lockup&quot;&gt;&lt;div class=&quot;rhombus-left&quot;&gt;&lt;div class=&quot;rhombus-left-reset&quot;&gt;Sass Conf&lt;/div&gt;&lt;/div&gt;&lt;/a&gt;
