%rhombus {
  @include transform2d(skewX($rhombus-skew));
}

%rhombus-reset {
  @include transform2d(skewX($rhombus-skew-reset));

}

%rhombus-left {
  @include transform2d(skewX($rhombus-skew-reset));
}

%rhombus-left-reset {
  @include transform2d(skewX($rhombus-skew));
}

%rhombus--image {
  @extend %rhombus;
  margin-left: 2rem;
  overflow: hidden;
  width: 240px;
  height: 240px;
  box-shadow: rgba($color--tertiary, 0.33) 0 0 0 0.5rem;
  @include backface-visibility(hidden);
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
  &:nth-of-type(2n+2) {
    @extend %rhombus-left;
    img {
      @extend %rhombus-left-reset;
      margin-left: -2rem;
    }
  }
  img {
    width: 300px;
    max-width: 300px;
    height: 300px;
    margin-left: -2rem;
    @extend %rhombus-reset;
  }
}

.rhombus {
  @extend %rhombus;
  .rhombus-reset {
    @extend %rhombus-reset;
  }
}

.rhombus-reset {
  @extend %rhombus-reset;

}

.rhombus-left {
  @extend %rhombus-left;
  .rhombus-reset {
    @extend %rhombus-left-reset
  }
}

.rhombus-left-reset {
  @extend %rhombus-left-reset
}

.rhombus-grid-wrapper {
  width: 100%;
  top: 0;
  .manhattan & {
    position: fixed;
  }
  @supports (mix-blend-mode: screen) {
    opacity: 1;
    mix-blend-mode: screen;
  }
  @include breakpoint($bp--logo-small-down) {
    display: none;
  }
}

.rhombus-grid {
  max-width: 100%;
}
