.speakers {
  position: relative;
}

.section-title {
  @extend %h4;
  background-color: $color--tertiary;
  color: $color--white;
  padding: 0.2em 0.5em;
  clear: both;
  display: inline-block;
  margin-left: 2em;
  position: relative;
  z-index: 1;
}

.included {
  letter-spacing: .2em;
  text-transform: uppercase;
  color: $color--secondary;
  display: inline-block;
  margin-left: -1em;
  background: $color--quintary;
  color: $color--secondary;
  padding: 0 0.5em 0 1.5em;
  white-space: nowrap;
}

.speaker--section {
  @include clearfix();
  clear: both;
  margin-bottom: 2rem;
}

.session {
  margin-bottom: 2rem;
  clear: both;
}

.title {
  @extend %h3;
  @extend %rhombus;
  background-color: $color--primary;
  color: $color--white;
  padding: 0.2em 0.5em;
  max-width: 80%;
  margin-left: 0.5em;
  margin-bottom: 0.5rem;
  h1 {
    @extend %rhombus-reset;
  }
}

.images {
  @include breakpoint($bp--sessions-wrap) {
    float: left;
    width: 20rem;
  }
  @include breakpoint($bp--sessions-2col) {
    float: left;
    width: 20rem;
  }
}

.speaker-images {
  &#{-1} {
    shape-outside: polygon(0px 0px, 320px 0px, 263px 263px, 0px 264px);
  }
  &#{-2} {
    shape-outside: polygon(0px 0px, 320px 0px, 264px 251px, 320px 520px, 0px 520px);
  }
  &#{-8} {
    shape-outside: polygon(0px 0px, 254px -10px, 290px 132px, 266px 260px, 286px 429px, 266px 547px, 0px 552px);
  }
}

.speaker-image {
  @extend %rhombus--image;
  .panel & {
    width: 120px;
    height: 120px;
    img {
      width: 150px;
      height: 150px;
      margin-left: -1rem;
    }
    &:nth-of-type(2n+2) {
      margin-top: calc(-120px - 1rem);
      margin-left: calc(120px + 1rem);
    }
    &:nth-of-type(4n+3) {
      @extend %rhombus-left;
      img {
        @extend %rhombus-left-reset;
        margin-left: -2rem;
      }
    }
    &:nth-of-type(4n+4) {
      @extend %rhombus;
      img {
        @extend %rhombus-reset;
      }
    }
  }
}

.people {
  margin-bottom: 2rem;
  padding-top: 2rem;
//  @include breakpoint($bp--sessions-wrap) {
//    margin-left: 20rem;
//  }
}

.speaker {
  @extend %featured-person--name;
}

.occupation {
  @extend %uppercase;
  border-bottom: 1px dashed $color--tertiary;
  margin-bottom: 0.5em;
  @include breakpoint($bp--sessions-wrap) {
//    margin-left: 20rem;
    margin-left: 10rem;
  }
}

.section--details {
  @include breakpoint($bp--sessions-wrap) {
    margin-left: 8em;
  }
}

.section-details--description {
  max-width: 30em;
}

