.media-partners {
  text-align: center;

  p {
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
  }

}

.sponsor {

  &-tier {
    clear: both;
    margin-bottom: 2rem;

    .section-title {
      margin-left: 0;
    }
  }


  &-image {
    max-width: 300px;
    a {
      background-image: none;
    }
  }

  &-description {
    max-width: 40rem;
  }

  &-detail {
    margin: 1rem 0 2em;
    clear: both;

    .images {
      max-width: 300px;

      a {
        background-image: none;
      }
    }

    &--support img { width: 40%; }

    &--gold img { width: 100%; }

    &--silver img { width: 80%; }

    &--bronze img { width: 60%; }
  }

  &--support {
    img {
      width: 40%;
    }
  }
}


.sponsors--footer {
  text-align: center;

  p {
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
  }

  .tier {
    margin-bottom: 3em;
    &:empty {
      display: none;
    }

    a {
      opacity: .66;
      background-image: none;
      @include filter(grayscale(100%));
      @include transition(all .5s);
      &:hover {
        opacity: 1;
        @include filter(grayscale(0%));
      }
    }
  }

  .xl img {
    width: 80%;
    max-width: 300px;
    margin: 0 5%;
  }

  .l img {
    width: 60%;
    max-width: 250px;
    margin: 0 5%;
  }

  .m img {
    width: 50%;
    max-width: 200px;
    margin: 0 5%;
  }

  .s img {
    width: 40%;
    max-width: 100px;
    margin: 0 5%;
  }

  .article-title {
    @extend %article-title-pop;
  }
}

