<section id="updates" class="updates">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup" class="rhombus">
    <form action="http://Sassconf.us5.list-manage1.com/subscribe/post?u=3a8cdc2c932e9e39b71ad40fa&amp;id=bbb1e76d11"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate rhombus-reset"
          target="_blank">
      <div class="mc-field-group">
        <label for="mce-EMAIL">Get Sass Conf updates:</label>
        <br>
        <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL"
               required=""></div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</section>
