<p>{{> atoms-button(extra-classes: "btn--light", atoms.button.text: "Light Button") }}</p>
<!--<p>{{> atoms-button(extra-classes: "btn--alt", atoms.button.text: "Alternate Button") }}</p>-->
<p>{{> atoms-button(disabled: true, extra-classes: "btn--disabled", atoms.button.text: "Disabled Button") }}</p>
<!--<p>{{> atoms-button(extra-classes: "btn--text", atoms.button.text: "Text Button") }}</p>-->
