<p>For use on colored backgrounds</p>
<span style="background: hsl(42, 77.9%, 64.5%); padding: 15px; display: inline-block;">
  <p>{{> atoms-button(extra-classes: "btn--light btn--clear-bg", atoms.button.text: "Light, Clear Button") }}</p>
</span>
<span style="background: hsl(15, 87.4%, 56.5%); padding: 15px; display: inline-block;">
  <p>{{> atoms-button(extra-classes: "btn--clear-bg", atoms.button.text: "Dark, Clear Button") }}</p>
</span>
<p>Yes, the naming seems weird, but if you think about it the light button with a clear background will show dark borders.</p>