{{&gt; atoms-text-field(atoms.text_field.required: true, atoms.text_field.label: &quot;Required&quot;, atoms.text_field.show_label: true) }}
{{&gt; atoms-text-field(atoms.text_field.error: true, atoms.text_field.label: &quot;Error&quot;, atoms.text_field.show_label: true) }}

&lt;div class=&quot;field-container&quot;&gt;
    &lt;label for=&quot;textarea&quot;&gt;Textarea&lt;/label&gt;
    &lt;textarea id=&quot;textarea&quot; rows=&quot;8&quot; cols=&quot;48&quot; placeholder=&quot;Enter your message here&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;
