<article class="open-community">
  <h2>An open community</h2>
  <p>
    Sass Conf is open to all. We're dedicated to a
    <a href="/code-of-conduct/">harassment-free</a> and enjoyable
    conference experience for everyone.
  </p>
</article>
