&lt;li class=&quot;session keynote&quot;&gt;
  &lt;div class=&quot;images&quot;&gt;
    &lt;div class=&quot;speaker-image&quot;&gt;
      &lt;img src=&quot;/lib/img/speakers/tabatkins.jpg&quot; alt=&quot;Side portrait of Tab Atkins Jr.&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;h3 class=&quot;speaker&quot;&gt;Tab Atkins Jr&lt;/h3&gt;

  &lt;h3 class=&quot;occupation&quot;&gt;Spec Hacker for Google&lt;/h3&gt;
&lt;/li&gt;
