html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'uikitregular';
  src: url('../fonts/uikit.eot');
  src: url('../fonts/uikit.eot?#iefix') format("embedded-opentype"), url('../fonts/uikit.woff') format("woff"), url('../fonts/uikit.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Type Scale
   ========================================================================== */
.quote {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.m-main-nav .menu-button {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m-main-nav a {
  -webkit-flex: auto;
  flex: auto;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea {
  max-width: 100%;
}

code {
  font-family: "Source Code Pro", monospace;
}

.occupation {
  text-transform: uppercase;
}

strong, b {
  font-weight: bold;
}

em {
  font-style: italic;
}

.font-family-archer {
  font-family: "Archer SSm A", "Archer SSm B", serif;
}

.m-main-nav .menu-button, .font-family-landmark-regular {
  font-family: "Landmark Regular A", "Landmark Regular B";
}

.standout h1 .word2, .standout h1 .word4, .standout h1 .word5, .standout h1 .word7, .standout h1 .word9, .standout h1 .word10, .standout h1 .word17, .standout h1 .word18, .standout h1 .word19, .standout h1 .word20, .font-family-landmark-inline, .sponsors .article-title a {
  font-family: "Landmark Inline A", "Landmark Inline B";
}

.reviewer, .speaker {
  color: #d3639e;
}

body {
  font-family: "Archer SSm A", "Archer SSm B", serif, serif;
  color: #0c0c0c;
  background: #f1f9f9;
  background-image: -moz-repeating-linear-gradient(90deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw);
  background-image: -webkit-repeating-linear-gradient(90deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
}
@media (min-width: 31.25em) {
  body {
    background-image: repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjMWU0ZTQiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(193, 228, 228, 0.1) 50%);
    background-image: -webkit-repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(193, 228, 228, 0.1) 50%);
    background-image: repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193, 228, 228, 0.1) 10vw, rgba(193, 228, 228, 0.1) 20vw, transparent 20vw), linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(193, 228, 228, 0.1) 50%);
    background-size: 100% 100%, 20vw 20vw;
  }
}

body[data-menu-position='open'] {
  border-left: none;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea {
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 2.4375em;
  border-width: 1px;
  border-color: #858585;
  font-size: 16px;
  font-family: "Archer SSm A", "Archer SSm B", serif, serif;
}

textarea {
  height: 10.5625em;
}

label {
  margin-right: 0.5em;
  vertical-align: top;
  line-height: 2.4375em;
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

legend {
  padding: 0 1em;
  white-space: nowrap;
}

fieldset {
  border-style: dashed;
}

.base--STYLED h2, .article-title, .sponsors .article-title, .base--STYLED h3, .overview ul li h3, .title, .ticketbud-widget h3, .reviewer, .speaker, .base--STYLED h4, .section-title, .base--STYLED h5, .base--STYLED h6 {
  font-family: "Landmark Regular A", "Landmark Regular B";
  font-weight: normal;
}

.base--STYLED h1, .standout h1, .page-title {
  font-family: "Landmark Inline A", "Landmark Inline B";
  font-weight: normal;
}

.base--STYLED h1, .standout h1, .page-title {
  font-size: 2.61803em;
  line-height: 0.93104;
  margin-bottom: 0.62069em;
}
@media (max-width: 31.25em) {
  .base--STYLED h1, .standout h1, .page-title {
    font-size: 1.61803em;
    line-height: 1.50646;
    margin-bottom: 1.00431em;
    font-family: "Landmark Regular A", "Landmark Regular B";
  }
}

.base--STYLED h2, .article-title, .sponsors .article-title {
  font-size: 2.44141em;
  line-height: 0.9984;
  margin-bottom: 0.6656em;
}
@media (max-width: 31.25em) {
  .base--STYLED h2, .article-title, .sponsors .article-title {
    font-size: 1.5625em;
    line-height: 1.3;
    margin-bottom: 1.04em;
  }
}

.base--STYLED h3, .overview ul li h3, .title, .ticketbud-widget h3 {
  font-size: 1.95313em;
  line-height: 1.04;
  margin-bottom: 0.832em;
}
@media (max-width: 31.25em) {
  .base--STYLED h3, .overview ul li h3, .title, .ticketbud-widget h3 {
    font-size: 1.25em;
    line-height: 1.3;
    margin-bottom: 1.3em;
  }
}

.reviewer, .speaker, .base--STYLED h4, .section-title {
  font-size: 1.61803em;
  line-height: 1.00431;
}

.base--STYLED h5 {
  font-size: 1.5625em;
  line-height: 1.04;
}

.base--STYLED h6 {
  font-size: 1.25em;
  line-height: 1.3;
}

html {
  font-size: 1em;
  line-height: 1.625;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a:not(.btn) {
  color: #789fa4;
}
a:not(.btn):visited {
  color: #789fa4;
}
a:not(.btn):focus {
  color: #7acbcb;
}
a:not(.btn):hover {
  color: #7acbcb;
}
a:not(.btn):active {
  color: #7acbcb;
}

a {
  text-decoration: none;
  text-shadow: #f1f9f9 -1px 1px 0, #f1f9f9 0 1px 0, #f1f9f9 1px 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkMzYzOWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #d3639e), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
  background-image: -webkit-linear-gradient(bottom, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(to top, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
}
a:visited {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkMzYzOWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #d3639e), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
  background-image: -webkit-linear-gradient(bottom, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(to top, #d3639e 1px, rgba(0, 0, 0, 0) 2px);
}
a:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5MzNiNmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #933b6a), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: -webkit-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(to top, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
}
a:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5MzNiNmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #933b6a), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: -webkit-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(to top, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
}
a:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5MzNiNmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #933b6a), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: -webkit-linear-gradient(bottom, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(to top, #933b6a 1px, rgba(0, 0, 0, 0) 2px);
}

button, input[type='submit'], input[type='reset'], input[type='button'], .btn, .big-button, .btn--big, .btn--light, .btn--disabled,
.btn[disabled], .btn--text, .call-to-action, .m-main-nav a, .logo-lockup.dark, .logo-lockup, .ticketbud-widget .btn, .ticketbud-widget a, .sponsors .article-title a {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
button:visited, input[type='submit']:visited, input[type='reset']:visited, input[type='button']:visited, .btn:visited, .big-button:visited, .btn--big:visited, .btn--light:visited, .btn--disabled:visited, .btn--text:visited, .call-to-action:visited, .m-main-nav a:visited, .logo-lockup:visited, .ticketbud-widget a:visited, .sponsors .article-title a:visited {
  text-shadow: none;
  background-image: none;
}
button:focus, input[type='submit']:focus, input[type='reset']:focus, input[type='button']:focus, .btn:focus, .big-button:focus, .btn--big:focus, .btn--light:focus, .btn--disabled:focus, .btn--text:focus, .call-to-action:focus, .m-main-nav a:focus, .logo-lockup:focus, .ticketbud-widget a:focus, .sponsors .article-title a:focus {
  text-shadow: none;
  background-image: none;
}
button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover, .btn:hover, .big-button:hover, .btn--big:hover, .btn--light:hover, .btn--disabled:hover, .btn--text:hover, .call-to-action:hover, .m-main-nav a:hover, .logo-lockup:hover, .ticketbud-widget a:hover, .sponsors .article-title a:hover {
  text-shadow: none;
  background-image: none;
}
button:active, input[type='submit']:active, input[type='reset']:active, input[type='button']:active, .btn:active, .big-button:active, .btn--big:active, .btn--light:active, .btn--disabled:active, .btn--text:active, .call-to-action:active, .m-main-nav a:active, .logo-lockup:active, .ticketbud-widget a:active, .sponsors .article-title a:active {
  text-shadow: none;
  background-image: none;
}

ol {
  list-style-type: decimal;
  margin-left: 1em;
}
ol li {
  margin-left: 1em;
}

.base--STYLED ul {
  list-style-type: circle;
  margin-left: 1em;
  margin-bottom: 1em;
}
.base--STYLED ul li {
  margin-left: 1em;
}

p {
  margin-bottom: 1.625em;
}

.field-intro p {
  font-size: 1.25em;
  line-height: 1.625;
  margin-bottom: 2.03125em;
}

table {
  width: 100%;
}

thead {
  border-bottom: 1px solid #858585;
}

th {
  font-weight: bold;
}

.intro, .open-community, .reviews, .sponsors, .on-sale, .updates {
  margin-bottom: 3.25em;
}

.review-image, .speaker-image, .rhombus, .m-main-nav a, .m-main-nav .button, .title, .panel .speaker-image:nth-of-type(4n+4) {
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.review-image img, .speaker-image img, .rhombus .rhombus-reset, .rhombus-reset, .title h1, .panel .speaker-image:nth-of-type(4n+4) img {
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
}

.review-image:nth-of-type(2n+2), .speaker-image:nth-of-type(2n+2), .rhombus-left, .panel .speaker-image:nth-of-type(4n+3) {
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
}

.review-image:nth-of-type(2n+2) img, .speaker-image:nth-of-type(2n+2) img, .rhombus-left .rhombus-reset, .rhombus-left-reset, .panel .speaker-image:nth-of-type(4n+3) img {
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.review-image, .speaker-image {
  margin-left: 2rem;
  overflow: hidden;
  width: 240px;
  height: 240px;
  box-shadow: rgba(122, 203, 203, 0.33) 0 0 0 0.5rem;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
}
.review-image:nth-of-type(2n+2) img, .speaker-image:nth-of-type(2n+2) img {
  margin-left: -2rem;
}
.review-image img, .speaker-image img {
  width: 300px;
  max-width: 300px;
  height: 300px;
  margin-left: -2rem;
}

.rhombus-grid-wrapper {
  width: 100%;
  top: 0;
  opacity: 0.6;
}
.skrollr .rhombus-grid-wrapper {
  position: fixed;
}
@supports (mix-blend-mode: screen) {
  .rhombus-grid-wrapper {
    opacity: 1;
    mix-blend-mode: screen;
  }
}
@media (max-width: 36.8125em) {
  .rhombus-grid-wrapper {
    display: none;
  }
}

.rhombus-grid {
  max-width: 100%;
}

.a11y--element-invisible, .element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a11y--element-focusable {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.a11y--element-focusable:active, .a11y--element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

button, input[type='submit'], input[type='reset'], input[type='button'], .btn, .big-button, .btn--big, .btn--light, .btn--disabled,
.btn[disabled], .btn--text, .call-to-action {
  display: inline-block;
  border-radius: 0;
  font-family: "Archer SSm A", "Archer SSm B", serif, serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
}

button, input[type='submit'], input[type='reset'], input[type='button'], .btn, .call-to-action {
  padding: 0.2em 0.5em;
  font-size: 20px;
  line-height: 1.25;
}

.big-button, .btn--big {
  padding: 0.5em 0.75em;
  font-size: 25px;
  line-height: 1.5;
}

button, input[type='submit'], input[type='reset'], input[type='button'], .btn, .big-button, .btn--big {
  color: white;
  background-color: #d3639e;
  border: 1px solid #a91e5a;
}
button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover, .btn:hover, .big-button:hover, .btn--big:hover {
  background-color: #a91e5a;
}
button:active, input[type='submit']:active, input[type='reset']:active, input[type='button']:active, .btn:active, .big-button:active, .btn--big:active {
  background-color: #c04580;
}

.big-button.warning:hover {
  background-color: #e0c9d6;
}
.big-button.warning:active {
  background-color: #f4ebf0;
}

.btn--light {
  color: white;
  background-color: #e9b1ce;
  border: 1px solid #cf6c9c;
}
.btn--light:hover {
  background-color: #cf6c9c;
}
.btn--light:active {
  background-color: #e9b1ce;
}

.btn--disabled,
.btn[disabled] {
  color: #c99db4;
  background-color: #6e2c4f;
  border: 1px solid #270614;
}
.btn--disabled:hover,
.btn[disabled]:hover {
  background-color: #a24b7d;
}
.btn--disabled:active,
.btn[disabled]:active {
  background-color: #d569a9;
}

.call-to-action {
  color: white;
  background-color: #341827;
  border: 1px solid #070103;
}
.call-to-action:hover {
  background-color: #50273d;
}
.call-to-action:active {
  background-color: #954b74;
}

.btn--full {
  width: 100%;
}

body {
  position: relative;
}

.photo-wrapper {
  position: relative;
  width: 100%;
  background-image: url('../images/manhattan-zeldman-1800x756.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header .photo-wrapper {
  -webkit-filter: contrast(150%) saturate(150%);
  filter: contrast(150%) saturate(150%);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header:hover .photo-wrapper {
  -webkit-filter: contrast(175%) saturate(175%);
  filter: contrast(175%) saturate(175%);
}

.header {
  position: relative;
  height: 0;
  padding-top: 42%;
  width: 100%;
  height: auto;
  margin-bottom: 15%;
}
.header > * {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}
.header .logo-nav {
  text-align: center;
}
@media (max-width: 36.8125em) {
  .header .logo-nav {
    position: relative;
  }
}
@media (max-width: 36.8125em) {
  .header .logo-dates {
    margin-top: -2.5rem;
  }
}
.header h2 {
  background-color: #c6538c;
  color: white;
  font-family: "Landmark Regular A", "Landmark Regular B";
  position: relative;
  width: 80%;
  left: 50%;
  -moz-transform: skewX(-10deg) translateX(-50%);
  -ms-transform: skewX(-10deg) translateX(-50%);
  -webkit-transform: skewX(-10deg) translateX(-50%);
  transform: skewX(-10deg) translateX(-50%);
}
@media (max-width: 23.75em) {
  .header h2 {
    font-size: 20px;
    line-height: 2.05;
  }
}
@media (min-width: 23.8125em) {
  .header h2 {
    font-size: 25px;
    line-height: 1.64;
  }
}
@media (max-width: 36.8125em) {
  .header h2 {
    text-align: left;
    padding-left: 160px;
  }
}
@media (min-width: 36.875em) {
  .header h2 {
    font-size: 31.25px;
    line-height: 1.9375;
    width: 50%;
  }
}

.m-main-nav {
  z-index: 100;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 15%;
}
@media (max-width: 23.75em) {
  .m-main-nav .menu-button {
    font-size: 20px;
    line-height: 2.05;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 23.8125em) {
  .m-main-nav .menu-button {
    font-size: 25px;
    line-height: 1.64;
  }
}
@media (min-width: 36.875em) {
  .m-main-nav .menu-button {
    position: absolute;
    width: calc(100% + 1rem);
    top: 0;
    padding-top: 42%;
  }
}
.m-main-nav a {
  white-space: nowrap;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: center;
}
.m-main-nav a:not(.btn) {
  color: white;
}
.m-main-nav a:not(.btn):visited {
  color: white;
}
.m-main-nav a:not(.btn):focus {
  color: #789fa4;
}
.m-main-nav a:not(.btn):hover {
  color: #7acbcb;
}
.m-main-nav a:not(.btn):active {
  color: #7acbcb;
}
.m-main-nav a:nth-of-type(1) {
  background-color: #d3639e;
}
.m-main-nav a:nth-of-type(2) {
  background-color: #ac215d;
}
.m-main-nav a:nth-of-type(3) {
  background-color: #a61854;
}
.m-main-nav a:nth-of-type(4) {
  background-color: #8c1245;
}
.m-main-nav a:nth-of-type(5) {
  background-color: #640d32;
}
.m-main-nav a:nth-of-type(6) {
  background-color: #340619;
}
@media (max-width: 23.75em) {
  .m-main-nav a {
    text-align: left;
    padding-left: 7.75rem;
    height: 0;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
}
@media (min-width: 36.875em) {
  .m-main-nav a:first-of-type {
    padding-left: 1rem;
  }
  .m-main-nav a:last-of-type {
    padding-right: 1rem;
  }
}
.m-main-nav [type="checkbox"] {
  display: none;
}
.m-main-nav [type="checkbox"]:checked ~ a {
  height: 2.05em;
}
.m-main-nav [type="checkbox"]:checked ~ .button {
  background-color: #340619;
}
.m-main-nav [type="checkbox"]:checked ~ .button div:before {
  content: "Hide ";
}
.m-main-nav .button {
  display: none;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 23.75em) {
  .m-main-nav .button {
    display: block;
    background-color: #d3639e;
    color: white;
    text-align: left;
    padding-left: 7.75rem;
  }
  .m-main-nav .button div:before {
    content: "Show ";
  }
}

.standout h1 .word2, .standout h1 .word4, .standout h1 .word5, .standout h1 .word7, .standout h1 .word9, .standout h1 .word10, .standout h1 .word17, .standout h1 .word18, .standout h1 .word19, .standout h1 .word20 {
  color: #d3639e;
}
@media (max-width: 31.25em) {
  .standout h1 .word2, .standout h1 .word4, .standout h1 .word5, .standout h1 .word7, .standout h1 .word9, .standout h1 .word10, .standout h1 .word17, .standout h1 .word18, .standout h1 .word19, .standout h1 .word20 {
    font-family: "Landmark Regular A", "Landmark Regular B";
  }
}

.standout h1 .word9, .standout h1 .word10 {
  font-style: italic;
  color: #ead87f;
  color: #ac215d;
}

.standout h1 {
  font-family: "Landmark Regular A", "Landmark Regular B";
  color: #789fa4;
}

.video-embed {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
  border: 3px solid #7acbcb;
}
.video-embed > * {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}

.intro:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 46.875em) {
  .intro .sizzle {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .intro .intro-text {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

.inline-list {
  list-style-type: none;
}
.inline-list, .inline-list li {
  margin: 0;
  padding: 0;
  display: inline;
}

.no-bullets, .sg-swatch {
  list-style: none;
}
.no-bullets li, .sg-swatch li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.logo-lockup.dark, .logo-lockup {
  text-align: center;
  color: #d3639e;
  font-family: "Landmark Inline A", "Landmark Inline B";
  font-size: 2em;
  font-weight: 800;
  padding: .5em;
  display: block;
}
.logo-lockup.dark:before, .logo-lockup:before {
  content: "S";
  position: relative;
  pointer-events: none;
  z-index: 1;
  font-weight: 400;
  font-family: uikitregular;
  display: block;
  font-size: 2em;
  margin: 0 0 0 0;
}

.logo-lockup.dark {
  -webkit-font-smoothing: antialiased;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.logo-icon.dark, .logo-icon {
  display: inline-block;
  font-family: uikitregular;
  font-size: 4em;
  padding: .25em;
  margin: .25em;
  width: 1em;
  height: 1em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 1;
  border-radius: .75em;
}

.logo-icon.dark {
  -webkit-font-smoothing: antialiased;
}

.logo {
  font-family: uikitregular;
  list-style: none;
  padding: 0 0 2em 0;
  color: #d3639e;
}
.logo li {
  text-align: center;
  line-height: 1;
  font-size: 10em;
}

.logo-rhombus {
  background-image: none;
  color: #c6538c !important;
  font-size: 2em;
  font-family: "Landmark Inline A", "Landmark Inline B";
  font-weight: 500;
  text-shadow: none;
  text-transform: uppercase;
  padding: 0;
}
.logo-rhombus:before {
  line-height: 1em;
}
@media (max-width: 36.8125em) {
  .logo-rhombus:before {
    position: absolute;
    color: white;
    left: 13%;
    -moz-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
}
@media (min-width: 36.875em) {
  .logo-rhombus {
    font-size: 3em;
  }
}
@media (min-width: 46.875em) {
  .logo-rhombus {
    font-size: 4em;
  }
}
.logo-rhombus .rhombus-left {
  background: #933b6a;
  line-height: 1.3;
  position: relative;
  color: white;
  text-align: center;
  width: 80%;
  left: 50%;
  -moz-transform: translateX(-50%) skewX(10deg);
  -ms-transform: translateX(-50%) skewX(10deg);
  -webkit-transform: translateX(-50%) skewX(10deg);
  transform: translateX(-50%) skewX(10deg);
}
@media (max-width: 36.8125em) {
  .logo-rhombus .rhombus-left {
    text-align: left;
    padding-left: 160px;
  }
}
@media (min-width: 36.875em) {
  .logo-rhombus .rhombus-left {
    width: 50%;
  }
}
@media (min-width: 46.875em) {
  .logo-rhombus .rhombus-left {
    line-height: 1;
  }
}

.message {
  padding: 0.2em 0.5em;
  border-style: solid;
  border-width: .15em;
  border-radius: .25em;
}

.message, .message.status {
  color: #0c0c0c;
  background-color: #a5bebf;
  border-color: #7da0a4;
}

.big-button.warning, .message.warning {
  color: #0c0c0c;
  background-color: #d8baca;
  border-color: #be8da7;
}

.message.error {
  color: #0c0c0c;
  background-color: #e5adca;
  border-color: #d477a7;
}

.overview:after {
  content: "";
  display: table;
  clear: both;
}
.overview ul li h3 {
  color: white;
  background-color: #7acbcb;
  padding: 0.125em 0.5em;
}
.overview ul li:nth-of-type(1) h3 {
  background-color: #7acbcb;
}
.overview ul li:nth-of-type(2) h3 {
  background-color: #359e9e;
}
.overview ul li:nth-of-type(3) h3 {
  background-color: #2a9797;
}
.overview ul li:nth-of-type(4) h3 {
  background-color: #1f8585;
}
.overview ul li:nth-of-type(5) h3 {
  background-color: #166262;
}
.overview ul li:nth-of-type(6) h3 {
  background-color: #0c3636;
}
@media (min-width: 33.75em) {
  .overview ul li:nth-of-type(odd) {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
  .overview ul li:nth-of-type(even) {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 63.125em) {
  .overview ul li:nth-of-type(4n+1) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
  .overview ul li:nth-of-type(4n+2) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 25.5814%;
    clear: none;
  }
  .overview ul li:nth-of-type(4n+3) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 51.16279%;
    clear: none;
  }
  .overview ul li:nth-of-type(4n+4) {
    width: 23.25581%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.pager {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pager-first, .pager-previous, .pager-item, .pager-next, .pager-last {
  display: inline;
  margin: 0;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.reviews:after {
  content: "";
  display: table;
  clear: both;
}

.review-item {
  margin-bottom: 1.625em;
}
@media (min-width: 33.75em) {
  .review-item:nth-of-type(odd) {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
  .review-item:nth-of-type(even) {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 63.125em) {
  .review-item:nth-of-type(4n+1) {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
  .review-item:nth-of-type(4n+2) {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 25%;
    clear: none;
  }
  .review-item:nth-of-type(4n+3) {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 50%;
    clear: none;
  }
  .review-item:nth-of-type(4n+4) {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.review-image {
  margin-bottom: 0;
}

.reviewer {
  background-color: #ead87f;
  color: #933b6a;
  padding: 0.125em 0.5em;
  position: relative;
  z-index: 1;
  left: -3px;
  max-width: 295px;
  border-left: 2px solid #933b6a;
}

.quote {
  background-size: cover;
  background-position: 50% 50%;
  min-height: 300px;
  padding: 0.5em;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-shadow: rgba(12, 12, 12, 0.5) 1px 1px 2px;
}
.quote blockquote {
  background-color: rgba(172, 33, 93, 0.66);
  margin: -0.5em;
  padding: 0.5em;
}
@supports (background-blend-mode: screen) {
  .quote {
    background-blend-mode: screen;
    background-color: #f7a4dc;
    color: #491d35;
    text-shadow: none;
  }
  .quote blockquote {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.speakers {
  position: relative;
}

.section-title {
  background-color: #7acbcb;
  color: white;
  padding: 0.2em 0.5em;
  clear: both;
  display: inline-block;
  margin-left: 2em;
  position: relative;
  z-index: 1;
}

.included {
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #933b6a;
  display: inline-block;
  margin-left: -1em;
  background: #ead87f;
  color: #933b6a;
  padding: 0 0.5em 0 1.5em;
  white-space: nowrap;
}

.speaker--section {
  clear: both;
  margin-bottom: 2rem;
}
.speaker--section:after {
  content: "";
  display: table;
  clear: both;
}

.session {
  margin-bottom: 2rem;
  clear: both;
}

.title {
  background-color: #d3639e;
  color: white;
  padding: 0.2em 0.5em;
  max-width: 80%;
  margin-left: 0.5em;
  margin-bottom: 0.5rem;
}

@media (min-width: 40.625em) {
  .images {
    float: left;
    width: 20rem;
  }
}
@media (min-width: 48.75em) {
  .images {
    float: left;
    width: 20rem;
  }
}

.panel .speaker-image {
  width: 120px;
  height: 120px;
}
.panel .speaker-image img {
  width: 150px;
  height: 150px;
  margin-left: -1rem;
}
.panel .speaker-image:nth-of-type(2n+2) {
  margin-top: calc(-120px - 1rem);
  margin-left: calc(120px + 1rem);
}
.panel .speaker-image:nth-of-type(4n+3) img {
  margin-left: -2rem;
}

.people {
  margin-bottom: 2rem;
  padding-top: 2rem;
}
@media (min-width: 40.625em) {
  .people {
    margin-left: 20rem;
  }
}

.occupation {
  border-bottom: 1px dashed #7acbcb;
  margin-bottom: 0.5em;
}

@media (min-width: 40.625em) {
  .section--details {
    margin-left: 8em;
  }
}
@media (min-width: 48.75em) {
  .section--details {
    float: right;
    width: calc(100% - 20rem);
    clear: right;
    margin-left: 0;
  }
}

.section-details--description {
  max-width: 30em;
}

.ticketbud-widget #events.external {
  font-family: "Archer SSm A", "Archer SSm B", serif, serif !important;
}
.ticketbud-widget .btn {
  display: inline-block !important;
  border-radius: 0 !important;
  font-family: "Archer SSm A", "Archer SSm B", serif, serif !important;
  font-weight: normal !important;
  font-style: italic !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  padding: 0.2em 0.5em !important;
  font-size: 20px !important;
  line-height: 1.25 !important;
  color: white !important;
  background-color: #d3639e !important;
  border: 1px solid #a91e5a !important;
}
.ticketbud-widget .btn:hover {
  background-color: #a91e5a !important;
}
.ticketbud-widget .btn:active {
  background-color: #c04580 !important;
}
.ticketbud-widget .ticket-terms {
  margin-top: 1.625em;
}

.updates:after {
  content: "";
  display: table;
  clear: both;
}

[id="mc_embed_signup"] {
  color: white;
  padding: 0.5em;
  background-color: #7acbcb;
  text-align: center;
  max-width: 20em;
}

.sg-swatch.color--black {
  background-color: #0c0c0c;
}
.sg-swatch.color--white {
  background-color: white;
}
.sg-swatch.color--gray {
  background-color: #858585;
}
.sg-swatch.color--primary {
  background-color: #d3639e;
}
.sg-swatch.color--secondary {
  background-color: #933b6a;
}
.sg-swatch.color--tertiary {
  background-color: #7acbcb;
}
.sg-swatch.color--quadrary {
  background-color: #789fa4;
}
.sg-swatch.color--quintary {
  background-color: #ead87f;
}

.sg-label {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sg-colors-stack.stack-color--primary.tints .tint-1 {
  background-color: #d3639e;
}
.sg-colors-stack.stack-color--primary.tints .tint-2 {
  background-color: #de8ab6;
}
.sg-colors-stack.stack-color--primary.tints .tint-3 {
  background-color: #e9b1ce;
}
.sg-colors-stack.stack-color--primary.tints .tint-4 {
  background-color: #f4d8e6;
}
.sg-colors-stack.stack-color--primary.tints .tint-5 {
  background-color: #f8e7f0;
}
.sg-colors-stack.stack-color--primary.tints .tint-6 {
  background-color: #faeff5;
}
.sg-colors-stack.stack-color--primary.shades .shade-1 {
  background-color: #d3639e;
}
.sg-colors-stack.stack-color--primary.shades .shade-2 {
  background-color: #9e4a76;
}
.sg-colors-stack.stack-color--primary.shades .shade-3 {
  background-color: #69314f;
}
.sg-colors-stack.stack-color--primary.shades .shade-4 {
  background-color: #341827;
}
.sg-colors-stack.stack-color--primary.shades .shade-5 {
  background-color: #1f0e17;
}
.sg-colors-stack.stack-color--primary.shades .shade-6 {
  background-color: #15090f;
}

.sg-colors-stack.stack-color--secondary.tints .tint-1 {
  background-color: #933b6a;
}
.sg-colors-stack.stack-color--secondary.tints .tint-2 {
  background-color: #ae6c8f;
}
.sg-colors-stack.stack-color--secondary.tints .tint-3 {
  background-color: #c99db4;
}
.sg-colors-stack.stack-color--secondary.tints .tint-4 {
  background-color: #e4ced9;
}
.sg-colors-stack.stack-color--secondary.tints .tint-5 {
  background-color: #eee1e8;
}
.sg-colors-stack.stack-color--secondary.tints .tint-6 {
  background-color: #f4ebf0;
}
.sg-colors-stack.stack-color--secondary.shades .shade-1 {
  background-color: #933b6a;
}
.sg-colors-stack.stack-color--secondary.shades .shade-2 {
  background-color: #6e2c4f;
}
.sg-colors-stack.stack-color--secondary.shades .shade-3 {
  background-color: #491d35;
}
.sg-colors-stack.stack-color--secondary.shades .shade-4 {
  background-color: #240e1a;
}
.sg-colors-stack.stack-color--secondary.shades .shade-5 {
  background-color: #16080f;
}
.sg-colors-stack.stack-color--secondary.shades .shade-6 {
  background-color: #0e050a;
}

.sg-colors-stack.stack-color--tertiary.tints .tint-1 {
  background-color: #7acbcb;
}
.sg-colors-stack.stack-color--tertiary.tints .tint-2 {
  background-color: #9bd8d8;
}
.sg-colors-stack.stack-color--tertiary.tints .tint-3 {
  background-color: #bce5e5;
}
.sg-colors-stack.stack-color--tertiary.tints .tint-4 {
  background-color: #ddf2f2;
}
.sg-colors-stack.stack-color--tertiary.tints .tint-5 {
  background-color: #ebf7f7;
}
.sg-colors-stack.stack-color--tertiary.tints .tint-6 {
  background-color: #f1f9f9;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-1 {
  background-color: #7acbcb;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-2 {
  background-color: #5b9898;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-3 {
  background-color: #3d6565;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-4 {
  background-color: #1e3232;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-5 {
  background-color: #121e1e;
}
.sg-colors-stack.stack-color--tertiary.shades .shade-6 {
  background-color: #0c1414;
}

.sg-colors-stack.stack-color--quadrary.tints .tint-1 {
  background-color: #789fa4;
}
.sg-colors-stack.stack-color--quadrary.tints .tint-2 {
  background-color: #99b7ba;
}
.sg-colors-stack.stack-color--quadrary.tints .tint-3 {
  background-color: #bbcfd1;
}
.sg-colors-stack.stack-color--quadrary.tints .tint-4 {
  background-color: #dde7e8;
}
.sg-colors-stack.stack-color--quadrary.tints .tint-5 {
  background-color: #eaf0f1;
}
.sg-colors-stack.stack-color--quadrary.tints .tint-6 {
  background-color: #f1f5f5;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-1 {
  background-color: #789fa4;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-2 {
  background-color: #5a777b;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-3 {
  background-color: #3c4f52;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-4 {
  background-color: #1e2729;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-5 {
  background-color: #121718;
}
.sg-colors-stack.stack-color--quadrary.shades .shade-6 {
  background-color: #0b0f10;
}

.sg-colors-stack.stack-color--quintary.tints .tint-1 {
  background-color: #ead87f;
}
.sg-colors-stack.stack-color--quintary.tints .tint-2 {
  background-color: #efe19f;
}
.sg-colors-stack.stack-color--quintary.tints .tint-3 {
  background-color: #f4ebbf;
}
.sg-colors-stack.stack-color--quintary.tints .tint-4 {
  background-color: #f9f5df;
}
.sg-colors-stack.stack-color--quintary.tints .tint-5 {
  background-color: #fbf9eb;
}
.sg-colors-stack.stack-color--quintary.tints .tint-6 {
  background-color: #fcfbf2;
}
.sg-colors-stack.stack-color--quintary.shades .shade-1 {
  background-color: #ead87f;
}
.sg-colors-stack.stack-color--quintary.shades .shade-2 {
  background-color: #afa25f;
}
.sg-colors-stack.stack-color--quintary.shades .shade-3 {
  background-color: #756c3f;
}
.sg-colors-stack.stack-color--quintary.shades .shade-4 {
  background-color: #3a361f;
}
.sg-colors-stack.stack-color--quintary.shades .shade-5 {
  background-color: #232013;
}
.sg-colors-stack.stack-color--quintary.shades .shade-6 {
  background-color: #17150c;
}

.sg-colors-stack.stack-primary--blend.tints .tint-1 {
  background-color: #d3639e;
}
.sg-colors-stack.stack-primary--blend.tints .tint-2 {
  background-color: #f7a4dc;
}
.sg-colors-stack.stack-primary--blend.tints .tint-3 {
  background-color: #f8aedf;
}
.sg-colors-stack.stack-primary--blend.tints .tint-4 {
  background-color: #f9bde5;
}
.sg-colors-stack.stack-primary--blend.tints .tint-5 {
  background-color: #fbd0ec;
}
.sg-colors-stack.stack-primary--blend.tints .tint-6 {
  background-color: #fde8f6;
}
.sg-colors-stack.stack-primary--blend.shades .shade-1 {
  background-color: #d3639e;
}
.sg-colors-stack.stack-primary--blend.shades .shade-2 {
  background-color: #ac215d;
}
.sg-colors-stack.stack-primary--blend.shades .shade-3 {
  background-color: #a61854;
}
.sg-colors-stack.stack-primary--blend.shades .shade-4 {
  background-color: #8c1245;
}
.sg-colors-stack.stack-primary--blend.shades .shade-5 {
  background-color: #640d32;
}
.sg-colors-stack.stack-primary--blend.shades .shade-6 {
  background-color: #340619;
}

.sg-colors-stack.stack-tertiary--blend.tints .tint-1 {
  background-color: #7acbcb;
}
.sg-colors-stack.stack-tertiary--blend.tints .tint-2 {
  background-color: #bdf5f5;
}
.sg-colors-stack.stack-tertiary--blend.tints .tint-3 {
  background-color: #c5f6f6;
}
.sg-colors-stack.stack-tertiary--blend.tints .tint-4 {
  background-color: #d0f7f7;
}
.sg-colors-stack.stack-tertiary--blend.tints .tint-5 {
  background-color: #dffafa;
}
.sg-colors-stack.stack-tertiary--blend.tints .tint-6 {
  background-color: #f3fdfd;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-1 {
  background-color: #7acbcb;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-2 {
  background-color: #359e9e;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-3 {
  background-color: #2a9797;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-4 {
  background-color: #1f8585;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-5 {
  background-color: #166262;
}
.sg-colors-stack.stack-tertiary--blend.shades .shade-6 {
  background-color: #0c3636;
}

.sg-fonts {
  font-size: 2em;
  line-height: 1.2;
}

.sg-ms {
  white-space: nowrap;
  overflow: hidden;
}
.sg-ms li:nth-of-type(1) {
  font-size: 16px;
}
.sg-ms li:nth-of-type(1):before {
  content: "ms-0: ";
}
.sg-ms li:nth-of-type(2) {
  font-size: 20px;
}
.sg-ms li:nth-of-type(2):before {
  content: "ms-1: ";
}
.sg-ms li:nth-of-type(3) {
  font-size: 25px;
}
.sg-ms li:nth-of-type(3):before {
  content: "ms-2: ";
}
.sg-ms li:nth-of-type(4) {
  font-size: 25.88854px;
}
.sg-ms li:nth-of-type(4):before {
  content: "ms-3: ";
}
.sg-ms li:nth-of-type(5) {
  font-size: 31.25px;
}
.sg-ms li:nth-of-type(5):before {
  content: "ms-4: ";
}
.sg-ms li:nth-of-type(6) {
  font-size: 39.0625px;
}
.sg-ms li:nth-of-type(6):before {
  content: "ms-5: ";
}
.sg-ms li:nth-of-type(7) {
  font-size: 41.88854px;
}
.sg-ms li:nth-of-type(7):before {
  content: "ms-6: ";
}
.sg-ms li:nth-of-type(8) {
  font-size: 48.82813px;
}
.sg-ms li:nth-of-type(8):before {
  content: "ms-7: ";
}
.sg-ms li:nth-of-type(9) {
  font-size: 61.03516px;
}
.sg-ms li:nth-of-type(9):before {
  content: "ms-8: ";
}
.sg-ms li:nth-of-type(10) {
  font-size: 67.77709px;
}
.sg-ms li:nth-of-type(10):before {
  content: "ms-9: ";
}
.sg-ms li:nth-of-type(11) {
  font-size: 76.29395px;
}
.sg-ms li:nth-of-type(11):before {
  content: "ms-10: ";
}
.sg-ms li:nth-of-type(12) {
  font-size: 95.36743px;
}
.sg-ms li:nth-of-type(12):before {
  content: "ms-11: ";
}

@media (min-width: 32em) {
  #st-main {
    width: 44.44444%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .st-colors {
    width: 44.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }

  .st-images {
    width: 44.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }

  .st-fonts {
    width: 44.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }

  .st-adjectives {
    width: 44.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
.article-title, .sponsors .article-title {
  background-color: #d3639e;
  padding: 0.125em 0.5em;
  max-width: 66%;
  color: white;
}

.sponsors .article-title {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhY2JjYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZDg3ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #7acbcb), color-stop(100%, #ead87f));
  background-image: -moz-linear-gradient(left, #7acbcb, #ead87f);
  background-image: -webkit-linear-gradient(left, #7acbcb, #ead87f);
  background-image: linear-gradient(to right, #7acbcb, #ead87f);
}
.sponsors .article-title a {
  border-bottom: 2px solid white;
}
.sponsors .article-title a:not(.btn) {
  color: #d3639e;
}
.sponsors .article-title a:not(.btn):visited {
  color: #d3639e;
}
.sponsors .article-title a:not(.btn):focus {
  color: white;
}
.sponsors .article-title a:not(.btn):hover {
  color: white;
}
.sponsors .article-title a:not(.btn):active {
  color: white;
}

.page-title {
  text-align: center;
  color: #d3639e;
  border-bottom: 7px double #d3639e;
}

#content {
  padding: 0 3vw;
}

/*# sourceMappingURL=style.css.map */
