<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
    <a href="{{ url }}">Home</a>
    <a href="{{ url }}">Speakers</a>
    <a href="{{ url }}">Get tickets</a>
    <a href="{{ url }}">Venue</a>
    <a href="{{ url }}">Code of Conduct</a>

    <div class="button">Menu</div>
  </label>
</nav>
