&lt;section class=&quot;intro&quot;&gt;
  {{&gt; molecules-sizzle }}
  &lt;div class=&quot;intro-text&quot;&gt;
    &lt;p&gt;We are a group of awesomely talented and creative front-end developers,
      designers, and web enthusiasts coming together for three days of
      talks, workshops, and panels on the best CSS preprocessor
      &mdash; &lt;strong&gt;Sass&lt;/strong&gt; &mdash; in electric
      &lt;a href=&quot;/pages/nyc-primer&quot;&gt;New York City&lt;/a&gt;.&lt;/p&gt;

    &lt;p&gt;We may not have created the web, but we work passionately to advance it
      and make better tools for front-end developers and designers so we can
      build and style more awesome sites for all.
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/section&gt;
