&lt;p&gt;For use on colored backgrounds&lt;/p&gt;
&lt;span style=&quot;background: hsl(42, 77.9%, 64.5%); padding: 15px; display: inline-block;&quot;&gt;
  &lt;p&gt;{{&gt; atoms-button(extra-classes: &quot;btn--light btn--clear-bg&quot;, atoms.button.text: &quot;Light, Clear Button&quot;) }}&lt;/p&gt;
&lt;/span&gt;
&lt;span style=&quot;background: hsl(15, 87.4%, 56.5%); padding: 15px; display: inline-block;&quot;&gt;
  &lt;p&gt;{{&gt; atoms-button(extra-classes: &quot;btn--clear-bg&quot;, atoms.button.text: &quot;Dark, Clear Button&quot;) }}&lt;/p&gt;
&lt;/span&gt;
&lt;p&gt;Yes, the naming seems weird, but if you think about it the light button with a clear background will show dark borders.&lt;/p&gt;