---
title: Media Partners
---

<article class="base--STYLED">

  <h1 class="hed">2014 Media Partners</h1>

  <h2><a href="https://youtube.com/sassbites">SassBites</a></h2>

  <p>A bite of Sass during your lunch break.
    <a href="https://twitter.com/sassbites">@SassBites</a></p>


  <h2 id=""><a href="https://tutsplus.com/"><%= image_tag 'sponsors/tutsplus.png',
    :alt => 'Tuts+' %></a></h2>

  <p>Tuts+ is the online home of creative learning. With thousands of tutorials
    and video courses in everything from web design to photography we teach everyone
    from beginner to advanced. Join the 5 million people each month learning new skills
    with Tuts+.
    <a href="https://twitter.com/tutsplus">@tutsplus</a></p>


  <hr>

  <p>
    <em><a href="/">SassConf</a> is a conference for front-end developers
      and designers passionate about building a better, more beautiful web.
      <a href="https://twitter.com/sassconf">@sassconf</a></em>
  </p>


</article>

<%= partial "partials/organisms/sponsor" %>
