&lt;nav class=&quot;m-main-nav&quot;&gt;
  &lt;label class=&quot;menu-button&quot;&gt;&lt;input type=&quot;checkbox&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Home&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Speakers&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Get tickets&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Venue&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Schedule&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Sponsors&lt;/div&gt;&lt;/a&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Code of Conduct&lt;/div&gt;&lt;/a&gt;

    &lt;div class=&quot;button&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;Menu&lt;/div&gt;&lt;/div&gt;
  &lt;/label&gt;
&lt;/nav&gt;
