&lt;div class=&quot;body scratch-header&quot;&gt;
  &lt;header class=&quot;header&quot; &gt;
    {{&gt; atoms-rhombus-grid }}
    &lt;div class=&quot;logo-nav&quot;&gt;
      {{&gt; atoms-logo }}
      &lt;h2 class=&quot;rhombus&quot;&gt;&lt;div class=&quot;rhombus-reset&quot;&gt;October 2-4, 2014&lt;/div&gt;&lt;/h2&gt;
      &lt;nav class=&quot;m-main-nav&quot;&gt;
        &lt;label class=&quot;menu-button&quot;&gt;&lt;input type=&quot;checkbox&quot;&gt;
          &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
          &lt;a href=&quot;/speakers&quot;&gt;Speakers&lt;/a&gt;
          &lt;a href=&quot;/#buy-now&quot;&gt;Get tickets&lt;/a&gt;
          &lt;a href=&quot;/venue&quot;&gt;Venue&lt;/a&gt;
          &lt;a href=&quot;/code-of-conduct&quot;&gt;Code of Conduct&lt;/a&gt;
          &lt;div class=&quot;button&quot;&gt;Menu&lt;/div&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;/nav&gt;
  &lt;/header&gt;
&lt;/div&gt;
