{{&gt; organisms-header }}
&lt;div id=&quot;content&quot;&gt;
  {{&gt; molecules-primary-nav }}
  {{&gt; molecules-standout }}
  {{&gt; organisms-site-intro }}
  {{&gt; organisms-overview }}
  {{&gt; organisms-reviews }}
  {{&gt; organisms-buy-tickets }}
  {{&gt; molecules-open-community }}
  {{&gt; molecules-mailchimp-signup }}
  {{&gt; organisms-sponsor }}
&lt;/div&gt;
{{&gt; organisms-footer }}

