{{>atoms-radio-button(atoms.radio.group: "Multi Group")}}
{{>atoms-radio-button(atoms.radio.group: "Multi Group", atoms.radio.text: "Another Option With Description", show_description: true, description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")}}
<div class="form-item form-type-radio">
  <label><input type="radio" name="Multi Group" checked>A Selected Option</label>
</div>