{{#brand_color_stacks}}
  &lt;h2&gt;{{label}}&lt;/h2&gt;
  &lt;ul class=&quot;sg-colors sg-colors-stack stack-{{label}} tints&quot;&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-1&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-2&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-3&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-4&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-5&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus tint-6&quot;&gt;&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul class=&quot;sg-colors sg-colors-stack stack-{{label}} shades&quot;&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-1&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-2&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-3&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-4&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-5&quot;&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;&lt;span class=&quot;sg-swatch rhombus shade-6&quot;&gt;&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;
{{/brand_color_stacks}}
