<div class="venue-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12095.831650045508!2d-74.001967!3d40.718943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47bb20eb6074b3f0!2sNew+Work+City!5e0!3m2!1sen!2sus!4v1412272263324" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
