<div class="venue-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.7075592899714!2d-74.008513!3d40.74646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a46318fff5%3A0x7abe3fc4ba7d1c93!2sSpirit+Cruises!5e0!3m2!1sen!2sus!4v1412272322625" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
