<div class="venue-map">
  <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=spirit%20of%20new%20york%20at%20chelsea%20piers%20Pier%2061%20New%20York%2C%20NY%2010011"></iframe>
</div>
