<article class="open-community">
  <h1 class="article-title rhombus"><div class="rhombus-reset">An open community</div></h1>
  <p>
    Sass Conf is open to all. We're dedicated to a <%= link_to 'harassment-free', 'code-of-conduct' %>
     and enjoyable
    conference experience for everyone.
  </p>
</article>
