<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
    <% link_to 'index' do %><div class="rhombus-reset">Home</div><% end %>
    <% link_to 'speakers' do %><div class="rhombus-reset">Speakers</div><% end %>
    <% link_to 'index.html#buy-now' do %><div class="rhombus-reset">Get Tickets</div><% end %>
    <% link_to 'venue' do %><div class="rhombus-reset">Venue</div><% end %>
    <% link_to 'schedule' do %><div class="rhombus-reset">Schedule</div><% end %>
    <% link_to 'code-of-conduct' do %><div class="rhombus-reset">Code of Conduct</div><% end %>
    <div class="button"><div class="rhombus-reset">Menu</div></div>
  </label>
</nav>
