<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
    <% link_to '/' do %><div class="rhombus-reset">Home</div><% end %>
    <% link_to 'speakers.html' do %><div class="rhombus-reset">Speakers</div><% end %>
    <a href="/"><div class="rhombus-reset">Get tickets</div></a>
    <a href="/"><div class="rhombus-reset">Venue</div></a>
    <a href="/"><div class="rhombus-reset">Code of Conduct</div></a>
    <div class="button"><div class="rhombus-reset">Menu</div></div>
  </label>
</nav>
