// COLORS
$color--black: tint(black, 5%);
$color--white: hsl(0, 0%, 100%);
$color--gray: mix($color--black, $color--white);
$cs-primary: hsl(330, 50%, 55%);

//////////////////////////////
// derived colors
// $NEW              : #A9CA98;
// @debug hue($NEW);
// @debug "h: " hue($NEW) - hue($cs-primary);
// @debug "---";
// @debug saturation($NEW);
// @debug "s: " saturation($NEW) - saturation($cs-primary);
// @debug "---";
// @debug lightness($NEW);
// @debug "l: " lightness($NEW) - lightness($cs-primary);
// @debug "---";
// $NEW        : adjust-color($cs-primary, $hue: 75.52814deg, $saturation: -52.72029%, $lightness: 8.03922%);
// @debug hue($green);
// @debug saturation($NEW);
// @debug lightness($NEW);
// $blue               : adjust-color($cs-primary, $hue: 172.88467deg, $saturation: -6.36248%, $lightness: -26.86275%);
// $black
//////////////////////////////

//////////////////////////////
// Color Stacks
//
// We can utilize [Color Schemer](https://github.com/scottkellum/color-schemer)
//   to build us awesome color guides.
//////////////////////////////
// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme: triad;
// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset: 55;
// Options: 0-100;
$cs-brightness-offset: 0;
// Options: 0-100;
$cs-color-model: ryb;
// Options: rgb, ryb
$cs-harmonize-mode: screen;
$cs-harmonize-color: $cs-primary;
$cs-harmonize-amount: 30%;

$color--primary: cs-primary();
$color--secondary: adjust-color(cs-quadrary(), $lightness: -20%, $saturation: -50%);
$color--tertiary: cs-secondary();
$color--quadrary: adjust-color(cs-secondary(), $lightness: -10%, $saturation: -20%);
$color--quintary: adjust-color(cs-tertiary(), $lightness: 10%, $saturation: 20%);
// harmonize
$color--primary: cs-harmonize($color--primary);
$color--secondary: cs-harmonize($color--secondary);
$color--tertiary: cs-harmonize($color--tertiary);
$color--quadrary: cs-harmonize($color--quadrary);
$color--quintary: cs-harmonize($color--quintary);

//@include cs-test(
//   $color--primary
//   $color--secondary
//   $color--tertiary
//   $color--quadrary
//   $color--quintary
//   );

@function blend-stack($color, $color2: null, $mode: multiply, $hsl: lightness, $factor: -5%, $iterations: 6) {
  @if $color2 == null {
    $color2: $color;
  }
  $list: ();
  @for $i from 1 through $iterations {
    @if $hsl == hue {
      $color2: adjust_color($color2, $hue: $i * $factor);
    } @else if $hsl == saturation {
      $color2: adjust_color($color2, $saturation: $i * $factor);
    } @else if $hsl == lightness {
      $color2: adjust_color($color2, $lightness: $i * $factor);
    }
    $new-color: call(blend-#{$mode}, $color, $color2);
    $list: append($list, $new-color);
  }
  @return $list;
}

//////////////////////////////
// Color Scheme Colors
$primary-tints: tint-stack($color--primary);
$primary-shades: shade-stack($color--primary);
$secondary-tints: tint-stack($color--secondary);
$secondary-shades: shade-stack($color--secondary);
$tertiary-tints: tint-stack($color--tertiary);
$tertiary-shades: shade-stack($color--tertiary);
$quadrary-tints: tint-stack($color--quadrary);
$quadrary-shades: shade-stack($color--quadrary);
$quintary-tints: tint-stack($color--quintary);
$quintary-shades: shade-stack($color--quintary);
$color--black-tints: tint-stack($color--gray);
$color--white-shades: shade-stack($color--gray);
$primary-multiply-stack : blend-stack($color--primary, $factor: -2%, $iterations: 7);
$primary-screen-stack   : blend-stack($color--primary, $mode: screen, $factor: 2%);
$tertiary-multiply-stack : blend-stack($color--tertiary, $factor: -3%);
$tertiary-screen-stack   : blend-stack($color--tertiary, $mode: screen, $factor: 2%);
//////////////////////////////

//////////////////////////////
// Background Colors
//////////////////////////////
$cs-background: $color--white;
$cs-background: nth($tertiary-tints, 6);
$cs-background-multiply: blend-multiply($cs-background, adjust-color($cs-background, $lightness: -10%));
$cs-border-color: $color--black;

// link colors
$cs-link-normal: $color--quadrary;
$cs-link-visited: $color--quadrary;
$cs-link-hover: $color--tertiary;
$cs-link-active: $color--tertiary;
$cs-link-focus: $color--tertiary;
$cs-link-background-normal: $color--primary;
$cs-link-background-visited: $color--primary;
$cs-link-background-hover: $color--secondary;
$cs-link-background-active: $color--secondary;
$cs-link-background-focus: $color--secondary;
$cs-link-background-bkg: $cs-background;

//////////////////////////////
// Text Colors
//////////////////////////////
$cs-text-dark: $color--black;
$cs-text-light: $color--white;
$cs-text: $cs-text-dark;
$contrasted-dark-default: $cs-text-dark;
$contrasted-light-default: $cs-text-light;

//////////////////////////////
// Border Colors
//////////////////////////////
$cs-border: $color--gray;

//////////////////////////////
// Status Colors
//////////////////////////////
$cs-status-status: nth($quadrary-tints, 4);
$cs-status-warning: nth($secondary-tints, 6);
$cs-status-error: nth($primary-tints, 5);

//////////////////////////////
// Component defaults
//////////////////////////////
// Buttons
$cs-button-color-default: $color--primary;
$cs-button-text-color-default: $color--white;
//////////////////////////////
// Messages
$cs-message-text-color-default: nth($secondary-tints, 3);
$cs-message-bkg-color-default: $cs-status-status;
//////////////////////////////
