&lt;div class=&quot;sg-fonts&quot;&gt;
  &lt;p class=&quot;font-family-archer&quot;&gt;Archer: {{headline.short}}&lt;/p&gt;
  &lt;p class=&quot;font-family-archer&quot;&gt;&lt;em&gt;Archer, italic: {{headline.short}}&lt;/em&gt;&lt;/p&gt;
  &lt;p class=&quot;font-family-archer&quot;&gt;&lt;strong&gt;Archer, strong: {{headline.short}}&lt;/strong&gt;&lt;/p&gt;

  &lt;p class=&quot;font-family-landmark-regular&quot;&gt;Landmark Regular: {{headline.short}}&lt;/p&gt;
  &lt;p class=&quot;font-family-landmark-regular&quot;&gt;&lt;em&gt;Landmark Regular, italic: {{headline.short}}&lt;/em&gt;&lt;/p&gt;
  &lt;p class=&quot;font-family-landmark-regular&quot;&gt;&lt;strong&gt;Landmark Regular, strong: {{headline.short}}&lt;/strong&gt;&lt;/p&gt;

  &lt;p class=&quot;font-family-landmark-inline&quot;&gt;Landmark Inline: {{headline.short}}&lt;/p&gt;
  &lt;p class=&quot;font-family-landmark-inline&quot;&gt;&lt;em&gt;Landmark Inline, italic: {{headline.short}}&lt;/em&gt;&lt;/p&gt;
  &lt;p class=&quot;font-family-landmark-inline&quot;&gt;&lt;strong&gt;Landmark Inline, strong: {{headline.short}}&lt;/strong&gt;&lt;/p&gt;
&lt;/div&gt;
