{{> atoms-text-field(atoms.text_field.required: true, atoms.text_field.label: "Required", atoms.text_field.show_label: true) }}
{{> atoms-text-field(atoms.text_field.error: true, atoms.text_field.label: "Error", atoms.text_field.show_label: true) }}

<div class="field-container">
    <label for="textarea">Textarea</label>
    <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
</div>
