<div class="form-item form-type-select arrow-bottom-right no-border">
  <select>
    <option>{{ atoms.select.text }}</option>
    <option>Option Two</option>
    <option>Option Three</option>
  </select>
</div>
