<article class="on-sale" id="buy-now">
  <h1 class="article-title rhombus"><div class="rhombus-reset">Get tickets. Don't miss out this year.</div></h1>
  <p>
    Your ticket gets you full admission to the conference,
    including keynotes, workshops, talks, and community day. Plus admission to
    opening reception, main conference party, and closing fiesta.
  </p>

  <p><a href="https://sassconf2014.ticketbud.com/sassconf-2014" class="btn">Buy Tickets</a></p>

  <p>We are committed to do our best to
    <a href="https://sassconf.wufoo.com/forms/sv0cmcw0ehtwqd/">help anyone make it to Sass Conf</a>.
  </p>
  <p class="ticket-terms"><em><%= link_to 'Need to cancel or transfer your ticket?', 'refund-policy' %></em></p>
</article>
