<article class="on-sale" id="buy-now">
  <h1 class="article-title rhombus"><div class="rhombus-reset">Get tickets. Don't miss out this year.</div></h1>
  <p>
    Your ticket gets you full admission to the conference,
    including keynotes, workshops, talks, and community day. Plus admission to
    opening reception, main conference party, and closing fiesta.
  </p>
  <p>We are committed to do our best to
    <a href="https://sassconf.wufoo.com/forms/sv0cmcw0ehtwqd/">help anyone make it to Sass Conf</a>.
  </p>
  <%= partial "partials/molecules/ticketbud" %>
  <script src="https://s3.amazonaws.com/ticketbud/widgets/tickets.v2.js" type="text/javascript" class="ticketbud tickets" data-uuid="e64e8cae-b923-11e3-a7b4-0b8ff1560192" data-host="ticketbud.com" async=""></script>
  <p class="ticket-terms"><em><%= link_to 'Need to cancel or transfer your ticket?', 'refund-policy' %></em></p>
</article>
