<footer>
  <div class="footer-content">
    <%= partial "partials/atoms/logo-notext" %>

    <ul>
      <h4>2014 SassConf Team</h4>
      <li><a href="https://twitter.com/itsmisscs">Claudina Sarahe</a></li>
      <li><a href="https://twitter.com/Snugug">Sam Richard</a></li>
      <li><a href="https://twitter.com/adekunleoduye">Adekunle Oduye</a></li>
      <li><a href="https://twitter.com/bkjames">Robert James</a></li>
      <li><a href="https://twitter.com/skyefaerie">Aisha Green</a></li>
      <li>Michelle Martinez</li>
      <li><a href="https://twitter.com/codingdesigner">Mason Wendell</a></li>
    </ul>

    <ul>
      <h4>Stay in touch</h4>
      <li><a href="https://twitter.com/sassconf">@SassConf</a></li>
      <li><a href="mailto:info@Sassconf.com">info@Sassconf.com</a></li>
    </ul>

    <p>&copy; 2014 SassConf. All rights reserved. Find an error or want to add something? Pull requests
      are welcome over on <a href="https://github.com/codingdesigner/sassconf-pl"
                             title="SassConf Design repo">GitHub</a>.
      Kindly refer to our <%= link_to 'styleguide', '/styleguide/public' %>.</p>

    <p>Manhattan <a
        href="https://www.flickr.com/photos/zeldman/14275183690/in/photolist-nKs4nU-nKs3LJ-o2QM7u-nZU5Jb">photo by
      Jeffery Zeldman</a>.</p>

    <p>
      SassConf is dedicated to a
      <%= link_to 'harassment-free', '/code-of-conduct' %>
      and enjoyable conference experience for everyone.
      <%= link_to 'Refund policy', '/refund-policy' %>.
    </p>
  </div>
</footer>
