<header class="header">
  <div class="photo-wrapper"></div>
  <div class="rhombus-grid-wrapper layer">
    <%= partial "partials/atoms/rhombus-grid" %>
  </div>
  <div class="logo-nav layer">
    <div class="logo-dates">
      <%= partial "partials/atoms/logo-rhombus" %>
      <h2 class="rhombus">
        <div class="rhombus-reset">October 2-4, 2014</div>
      </h2>
    </div>
  </div>
</header>

