<section class="overview">
  <h1 class="article-title rhombus"><div class="rhombus-reset">Workshops, Talks, Code. Oh so Sassy!</div></h1>
  <h2 class="section-title rhombus-left"><div class="rhombus-reset">2014 Keynote</div></h2>
  <section class="speaker--section keynote">
    <%= partial "partials/molecules/keynote" %>
  </section>


  <ul class="details">
    <li>
      <h3 class="subsection-title rhombus"><div class="rhombus-reset">Workshops</div></h3>
      <p>Dedicated day, dual track, 2 and 4 hour workshops cover beginner to advanced topics in modern front-end web
        development.
      </p>
    </li>
    <li>
      <h3 class="subsection-title rhombus-left"><div class="rhombus-reset">In-depth talks</div></h3>
      <p>Main stage talks from outstanding speakers in Sass and design communities</p>
    </li>
    <li>
      <h3 class="subsection-title rhombus"><div class="rhombus-reset">Code + Community</div></h3>
      <p>Work on passion projects, share your toys, hangout with the awesomest people—the ones that make and use the
        tools you love.</p>
    </li>
    <li>
      <h3 class="subsection-title rhombus-left"><div class="rhombus-reset">Great City</div></h3>
      <p>What's not to love about the prospect of hanging in <a href="/pages/nyc-primer">New York City</a> with people that love Sass as much as you do.</p>
    </li>
  </ul>
</section>
