<div class="speakers">
  <h1 class="page-title">2014 Speakers</h1>
  <h2 class="section-title rhombus-left"><div class="rhombus-reset">2014 Keynotes</div></h2>
  <section class="speaker--section keynote">
    <%= partial "partials/molecules/keynote" %>
  </section>
  <h2 class="section-title rhombus-left"><div class="rhombus-reset">2014 Talks</div></h2>
  <section class="speaker--section talks">
    <%= partial "partials/molecules/talks" %>
  </section>
  <h2 class="section-title rhombus-left"><div class="rhombus-reset">2014 Workshops</div></h2>
  <h3 class="included rhombus-left"><div class="rhombus-reset">Included with your ticket!</div></h3>
  <section class="speaker--section talks">
    <%= partial "partials/molecules/workshops" %>
  </section>
</div>
