<aside class="sponsors--footer">
  <h1 class="article-title rhombus-left"><div class="rhombus-reset">Stand out like these awesome folk.
    <a href="mailto:sponsors@sassconf.com">Sponsor Sass Conf.</a></div></h1>
  <div class="tier xl">
    <a href="http://www.typography.com/cloud/welcome/"><img src="/images/sponsors/hoeflerco.png" alt="Hoefler & Co."></a>
  </div>
  <div class="tier l">
    <a href="http://oddbird.net/"><img src="/images/sponsors/oddbird.png" alt="OddBird"></a>
    <a href="http://makersquare.com/"><img src="/images/sponsors/makersquare.png" alt="MakerSquare"></a>
  </div>
  <div class="tier s">
    <a href="http://www.abookapart.com/"><img src="/images/sponsors/bkapart.png" alt="A Book Apart"></a>
    <a href="http://cageapp.com/"><img src="/images/sponsors/cage.png" alt="Cage"></a>
    <a href="http://incident57.com/codekit/"><img src="/images/sponsors/codekit.png" alt="CodeKit"></a>
    <a href="https://www.manning.com/"><img src="/images/sponsors/manning.png" alt="Manning"></a>
    <a href="http://oreilly.com/"><img src="/images/sponsors/oreilly.gif" alt="O'Reilly"></a>
    <a href="http://pragprog.com/.com/"><img src="/images/sponsors/pragprog.png" alt="The Pragmatic Bookshelf"></a>
    <a href="http://rosenfeldmedia.com/"><img src="/images/sponsors/rosenfeld.png" alt="Rosenfeld"></a>
    <a href="http://www.git-tower.com"><img src="/images/sponsors/tower.png" alt="Tower Mac Git Client"></a>
  </div>

  <p>Find out more about our <%= link_to '2014 sponsors', '/sponsors' %> and
    <%= link_to 'media partners', '/media-partners' %>. </p>

  <p>
    A huge thanks to <%= link_to 'last year’s wonderful sponsors', '/sponsors/2013' %>, especially

    <span class="sponsor-item"><a href="https://teamtreehouse.com">Treehouse</a></span>,

    <span class="sponsor-item"><a href="https://shopify.com">Shopify</a></span>,

    <span class="sponsor-item"><a href="http://oddbird.net">OddBird</a></span>, and

    <span class="sponsor-item"><a href="https://github.com">GitHub</a></span>.

  </p>And the continuous support from the NYC tech community. </p>

  <div class="tier s">
    <a href="http://meetup.com/"><img src="/images/sponsors/meetup.png" alt="Meetup"></a>
    <a href="http://xogroup.com/"><img src="/images/sponsors/xotech.png" alt="XO Tech"></a>
    <a href="http://thoughtbot.com/"><img src="/images/sponsors/thoughtbot.png" alt="Thoughtbot"></a>

  </div>

</aside>

