<article class="venue base--STYLED">
  <h1 class="page-title">Scholastic Auditorium</h1>

  <h3>557 Broadway, New York, NY 10012</h3>

  <%= partial "partials/molecules/map" %>

  <section class="venue-details">
    <h2 class="article-title rhombus">
      <div class="rhombus-reset">Nestled in the heart of SoHo. Convenient access to all of New York City.</div>
    </h2>
    <p>Scholastic Auditorium is <strong>located near the 7 train lines</strong>: <span
        class="nqr">Prince St. N, R</span>, <span class="bdfm">Broadway/Lafayette B,D,F,M</span>, and the <span>Spring St. 6</span>.
      Stay in <a href="https://www.airbnb.com/locations/new-york/soho">SoHo</a>, <a
          href="https://www.airbnb.com/locations/new-york/nolita">Nolita</a>, <a
          href="https://www.airbnb.com/locations/new-york/noho">NoHO</a>, <a
          href="https://www.airbnb.com/locations/new-york/west-village">West Village</a>, <a
          href="https://www.airbnb.com/locations/new-york/greenwich">Greenwich</a>, or <a
          href="https://www.airbnb.com/locations/new-york/tribeca">Tribeca</a> to be a short walk away. Or explore
      nearby neighborhoods just a short train or Citi Bike ride away.</p>

    <p><strong>Check out our <%= link_to 'NYC Primer', '/nyc-primer' %> for more recommendations and tips.</strong></p>

    <h3>Train Notices</h3>

    <p>We'll update this soon with any relevant service changes.</p>


    <h4>Neighborhoods we'd seek out if we were coming to the city</h4>

    <p>Awesome neighborhood guides by <a href="http://airbnb.com">AirBnB</a> our personal favorite for finding
      accommodations in New York City.</p>

    <table>
      <thead>
      <tr>
        <td></td>
        <td>Distance</td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/union-square">Union Square</a></td>
        <td>Short train / 5-10 min bike ride</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/east-village">East Village/Alphabet City</a></td>
        <td>25-30 minute walk / 10-15 min bike ride</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/lower-east-side">Lower East Side</a></td>
        <td>22-30 minute walk / 10-15 min bike ride</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/flatiron-district">Flatiron</a></td>
        <td>10 min train</td>
      </tr>

      <tr>
        <td><a href="">Williamsburg</a></td>
        <td>20 min train</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/downtown-brooklyn">Downtown Brooklyn</a></td>
        <td>25-30 minute train.</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/brooklyn-heights">Brooklyn Heights</a></td>
        <td>20 min train. Court St N, R</td>
      </tr>

      <tr>
        <td><a href="https://www.airbnb.com/locations/new-york/astoria">Astoria</a></td>
        <td>30 min train. Directly on N line.</td>
      </tr>

      </tbody>
    </table>

    <p>Not our favorites, but you can get to and from the conference with ease: <a
        href="https://www.airbnb.com/locations/new-york/kips-bay">Kips Bay</a>, <a
        href="https://www.airbnb.com/locations/new-york/upper-east-side">Upper East Side</a>, <a
        href="https://www.airbnb.com/locations/new-york/times-square-theatre-district">Times Square/Theatre District</a>,
      <a href="https://www.airbnb.com/locations/new-york/financial-district">Financial District</a>.</p>

  </section>

  <div class="accomodation">
    <a href="https://www.airbnb.com/s/New-York--NY?checkin=10%2F12%2F2013&amp;checkout=10%2F13%2F2013&amp;source=bb">
      <!--<img src="{{base_path}}images/airbnb-logo.jpg" alt="Airbnb"><br>-->
      <h4>Find rooms on Airbnb</h4>
    </a>
  </div>


  <div class="accomodation">
    <h4>Personal Touch</h4>

    <p>Overwhelmed by the options? Need a helping hand? Let us know. We can't make hotels any cheaper, but we can
      provide you with personal touch. <a href="mailto:info@Sassconf.com">Let us help you with your travel plans.</a>
    </p>

  </div>


</article>
