&lt;h2 id=&quot;logo&quot;&gt;logo&lt;/h2&gt;

&lt;ul class=&quot;logo&quot;&gt;
  &lt;li&gt;Sass Conf&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;logo-lockup&quot;&gt;
  Sass Conf
&lt;/div&gt;
&lt;div class=&quot;logo-lockup dark&quot;&gt;
  Sass Conf
&lt;/div&gt;
&lt;div class=&quot;logo-icon&quot;&gt;
  Sass Conf
&lt;/div&gt;
&lt;div class=&quot;logo-icon dark&quot;&gt;
  Sass Conf
&lt;/div&gt;
