&lt;section class=&quot;standout vision&quot;&gt;
  &lt;h1&gt;
    A conference for front-end developers and designers that love Sass and
      are passionate about building a better, more beautiful web.
  &lt;/h1&gt;
&lt;/section&gt;
