body.manhattan {
  position: relative;
}

.photo-wrapper {
  position: relative;
  width: 100%;
  background-image: url(../../images/manhattan-zeldman-1800x756.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header {
//  &:hover {
    .photo-wrapper {
      -webkit-filter: blur(5px) contrast(150%) saturate(150%);
//    }
  }
}

$bp--logo-full: 750px;
$bp--logo-med: 590px;
$bp--logo-small: max-width 589px;
$bp--logo-very-small: max-width 380px;

.header {
  // background-color: rgba(white, 0.75);
  // background-color: rgba($color--black, 0.75);
  @include intrinsic-ratio(1800/756, 100%);
  margin-bottom: 15%;
  // @supports(mix-blend-mode: lighten) {
  //   background-color: transparent;
  // }
  .logo-nav {
    text-align: center;
  }
  .logo-lockup {
    background: {
      image: none;
    }
    color: $cs-primary !important;
    font: {
      size: 2em;
      family: $landmark-inline;
      weight: 500;
    }
    text: {
      shadow: none;
      transform: uppercase;
    }
    padding: 0;
    &:before {
      line-height: 1em;
      @include transform2d(translateY(0.125em));
      @include breakpoint($bp--logo-small) {
        position: absolute;
        color: white;
        left: 13%;
        top: 18px;
      }
    }
    @include breakpoint($bp--logo-med) {
      font: {
        size: 3em;
      }
    }
    @include breakpoint($bp--logo-full) {
      font: {
        size: 4em;
      }
    }
    .rhombus-left {
      // background: hsla(1, 0%, 0%, 0.31);
      // background: rgba($color--black, 0.3);
      background: $color--secondary;
      line-height: 1.3;
      margin-top: 0.5em;
      position: relative;
      // -webkit-transform: translateX(-50%) skewX(-10deg);
      color: $color--white;
      text-align: center;
      width: 80%;
      left: 50%;
      @include transform2d(translateX(-50%) skewX(10deg));
      @include breakpoint($bp--logo-small) {
        text-align: left;
        padding-left: 80px;
      }
      @include breakpoint($bp--logo-med) {
        width: 50%;
      }
      @include breakpoint($bp--logo-full) {
        line-height: 1;
      }
    }
  }
  h2 {
    background: {
      color: $cs-primary;
    }
    color: $color--white;
    font: {
      size: 1.5em;
      family: $landmark-regular;
    }
    line-height: 1.3;
    line-height: 1.729;
    position: relative;
    width: 80%;
    left: 50%;
    @include transform2d(skewX($rhombus-skew) translateX(-50%));
    @include breakpoint($bp--logo-very-small) {
      font-size: 1.1em;
      line-height: 2.305555556;
    }
    @include breakpoint($bp--logo-small) {
      text-align: left;
      padding-left: 80px;
    }
    @include breakpoint($bp--logo-med) {
      font-size: 2em;
      width: 50%;
      line-height: 2;
    }
  }
}


