body {
  position: relative;
}

.photo-wrapper {
  position: relative;
  width: 100%;
  background-image: image-url("manhattan-zeldman-1800x756.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  .photo-wrapper {
    @include filter(contrast(150%) saturate(150%));
    @include single-transition();
  }
  &:hover {
    .photo-wrapper {
      @include filter(contrast(175%) saturate(175%));
    }
  }
}

$bp--logo-full: 750px;
$bp--logo-med: 590px;
$bp--logo-small: max-width 589px;
$bp--logo-very-small: max-width 380px;

.header {
  @include intrinsic-ratio(1800/756, 100%);
  margin-bottom: 15%;
  .logo-nav {
    text-align: center;
    @include breakpoint($bp--logo-small) {
      top: 7rem;
    }
  }
  h2 {
    background: {
      color: $cs-primary;
    }
    color: $color--white;
    font: {
      size: 1.5em;
      family: $landmark-regular;
    }
    line-height: 1.3;
    line-height: 1.729;
    position: relative;
    width: 80%;
    left: 50%;
    @include transform2d(skewX($rhombus-skew) translateX(-50%));
    @include breakpoint($bp--logo-very-small) {
      font-size: 1.1em;
      line-height: 2.305555556;
    }
    @include breakpoint($bp--logo-small) {
      text-align: left;
      padding-left: 160px;
    }
    @include breakpoint($bp--logo-med) {
      font-size: 2em;
      width: 50%;
      line-height: 2;
    }
  }
}


