body {
  position: relative;
}

.photo-wrapper {
  position: relative;
  width: 100%;
  background-image: image-url("manhattan-zeldman-1800x756.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  .photo-wrapper {
    @include filter(contrast(150%) saturate(150%));
    @include single-transition();
  }
  &:hover {
    .photo-wrapper {
      @include filter(contrast(175%) saturate(175%));
    }
  }
}

$bp--logo-full: 750px;
$bp--logo-med: 590px;
$bp--logo-small: 381px;
$bp--logo-small-down: max-width 589px;
$bp--logo-very-small-down: max-width 380px;

.header {
  @include intrinsic-ratio(1800/756, 100%);
  height: auto;
  margin-bottom: 15%;
  .logo-nav {
    text-align: center;
    @include breakpoint($bp--logo-small-down) {
      position: relative;
    }
  }
  .logo-dates {
    @include breakpoint($bp--logo-small-down) {
      margin-top: -2.5rem;
    }
  }
  h2 {
    background: {
      color: $cs-primary;
    }
    color: $color--white;
    font-family: $landmark-regular;
    position: relative;
    width: 80%;
    left: 50%;
    @include transform2d(skewX($rhombus-skew) translateX(-50%));
    @include breakpoint($bp--logo-very-small-down) {
      font-size: ms(1);
      line-height: 2.05;
    }
    @include breakpoint($bp--logo-small) {
      font-size: ms(2);
      line-height: 1.64;
    }
    @include breakpoint($bp--logo-small-down) {
      text-align: left;
      padding-left: 160px;
    }
    @include breakpoint($bp--logo-med) {
      font-size: ms(4);
      line-height: 1.9375;
      width: 50%;
    }
  }
}

.m-main-nav {
  z-index: 100;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
  //    margin-top: -1.5em;
  //  margin-left: 0.5rem;
  //  margin-right: 0.5rem;
  margin-bottom: 15%;
  //  width: calc(100% - 1rem) !important;
  //  top: 283px;

  .menu-button {
    @extend %font-family-landmark-regular;
    @extend %flex-row;
    @include breakpoint($bp--logo-very-small-down) {
      font-size: ms(1);
      line-height: 2.05;
      @include flexbox(
        (
          flex-direction: column
        )
      );
    }
    @include breakpoint($bp--logo-small) {
      font-size: ms(2);
      line-height: 1.64;
    }
    @include breakpoint($bp--logo-med) {
      position: absolute;
      width: calc(100% + 1rem);
      top: 0;
      padding-top: 42%;
    }
//    @include breakpoint($bp--logo-med) {
//      font-size: ms(3);
//      line-height: 2;
//    }
    //  font-size: ms(2);
  }
  a {
    @include set-link-colors($color--white, $color--tertiary, $color--tertiary, $color--white, $color--quadrary, $extend: false);
    @extend %link-unset-background-extend;
    white-space: nowrap;
    padding: {
      left: 0.75rem;
      right: 0.75rem;
    }
    text-align: center;
    @extend %flex-auto;
    @extend %rhombus;
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        background-color: nth($primary-multiply-stack, $i);
      }
    }
    @include breakpoint($bp--logo-very-small-down) {
      text-align: left;
      padding-left: 7.75rem;
    }
    @include breakpoint($bp--logo-med) {
      &:first-of-type {
        padding-left: 1rem;
      }
      &:last-of-type {
        padding-right: 1rem;
      }
    }
  }
  [type="checkbox"] {
    display: none;
  }
  .button {
    display: none;
  }
}


