%standout-emphasis {
  color: $color--primary;
  @extend %font-family-landmark-inline;
  @include breakpoint($bp--small-type) {
    font-family: $landmark-regular;
  }
}
%standout-more-emphasis {
  font-style: italic;
  color: $color--quintary;
  color: nth($primary-multiply-stack, 2);
}

.standout {
  h1 {
    @extend %h1;
    font-family: $font-headline;
    color: $color--quadrary;
    margin-bottom: 2em;
    .word2 { @extend %standout-emphasis; }
    .word4 { @extend %standout-emphasis; }
    .word5 { @extend %standout-emphasis; }
    .word7 { @extend %standout-emphasis; }
    .word9 { @extend %standout-emphasis; @extend %standout-more-emphasis; }
    .word10 { @extend %standout-emphasis; @extend %standout-more-emphasis; }
    .word17 { @extend %standout-emphasis; }
    .word18 { @extend %standout-emphasis; }
    .word19 { @extend %standout-emphasis; }
    .word20 { @extend %standout-emphasis; }
  }
}

.video-embed {
  @include ir();
  border: 3px solid $color--tertiary;

}

.intro {
  @include clearfix();
  @extend %section-margin;
  @include breakpoint(750px) {
    @include layout($grid--2) {
      .sizzle { @include grid-span(1, 2); }
      .intro-text {
        @include  grid-span(1, 1);
      }
    }
  }
}
