.overview {
  @include clearfix();
  ul {
    li {
      h3 {
        @extend %h3;
        color: $color--white;
        background-color: $color--tertiary;
        padding: 0.125em 0.5em;
      }
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          h3 {
            background-color: nth($tertiary-multiply-stack, $i);
          }
        }
      }
      @include breakpoint($bp--overview-2-col) {
        @include layout($grid--2) {
          &:nth-of-type(odd) {
            @include grid-span(1, 1); clear: both;
          }
          &:nth-of-type(even) {
            @include grid-span(1, 2);
          }
        }
      }
      @include breakpoint($bp--overview-3-col) {
        @include layout($grid--4) {
          &:nth-of-type(4n+1) {
            @include grid-span(1, 1); clear: both;
          }
          &:nth-of-type(4n+2) {
            @include grid-span(1, 2);
          }
          &:nth-of-type(4n+3) {
            @include grid-span(1, 3);
          }
          &:nth-of-type(4n+4) {
            @include grid-span(1, 4);
          }
        }
      }
    }
  }
}
