%rhombus {
  @include transform2d(skewX($rhombus-skew));
}

%rhombus-reset {
  @include transform2d(skewX($rhombus-skew-reset));

}

%rhombus-left {
  @include transform2d(skewX($rhombus-skew-reset));
}

%rhombus-left-reset {
  @include transform2d(skewX($rhombus-skew));
}

.rhombus {
  @extend %rhombus;
  .rhombus-reset {
    @extend %rhombus-reset;
  }
}

.rhombus-reset {
  @extend %rhombus-reset;

}

.rhombus-left {
  @extend %rhombus-left;
  .rhombus-reset {
    @extend %rhombus-left-reset
  }
}

.rhombus-left-reset {
  @extend %rhombus-left-reset
}

.rhombus-grid-wrapper {
  width: 100%;
  top: 0;
  opacity: 0.6;
  .manhattan & {
    position: fixed;
  }
  @supports (mix-blend-mode: color-dodge) {
    opacity: 1;
    mix-blend-mode: screen;
  }
  @include breakpoint($bp--logo-small) {
    display: none;
  }
}

.rhombus-grid {
  max-width: 100%;
}
