&lt;div class=&quot;reviews&quot;&gt;
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
  {{&gt; molecules-review }}
&lt;/div&gt;
