&lt;section class=&quot;intro&quot;&gt;
    &lt;div class=&quot;sizzle&quot; id=&quot;sizzle&quot;&gt;
      &lt;iframe src=&quot;//player.vimeo.com/video/90602247?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=ff006a&amp;amp;autoplay=0&amp;amp;loop=1&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;&quot; mozallowfullscreen=&quot;&quot; allowfullscreen=&quot;&quot;&gt;&lt;/iframe&gt;
    &lt;/div&gt;

    &lt;p&gt;We are a group of awesomely talented and creative front-end developers,
      designers, and web enthusiasts coming together for three days of
      talks, workshops, and panels on the best CSS preprocessor
      &mdash; &lt;strong&gt;Sass&lt;/strong&gt; &mdash; in electric
      &lt;a href=&quot;/pages/nyc-primer&quot;&gt;New York City&lt;/a&gt;.&lt;/p&gt;

    &lt;p&gt;We may not have created the web, but we work passionately to advance it
      and make better tools for front-end developers and designers so we can
      build and style more awesome sites for all.
    &lt;/p&gt;
  &lt;/section&gt;
