&lt;li class=&quot;session talk&quot;&gt;
  &lt;div class=&quot;title&quot;&gt;
    &lt;h1&gt;Thinking inside the box inside the box inside the box&lt;/h1&gt;
  &lt;/div&gt;
  &lt;div class=&quot;images&quot;&gt;
    &lt;div class=&quot;speaker-image&quot;&gt;
      &lt;img src=&quot;/lib/img/speakers/masonwendell.jpg&quot; alt=&quot;Portrait of Mason Wendell&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;section__details&quot;&gt;
    &lt;div class=&quot;people&quot;&gt;
      &lt;div class=&quot;person&quot;&gt;
        &lt;h3 class=&quot;speaker&quot;&gt;Mason Wendell&lt;/h3&gt;

        &lt;h3 class=&quot;occupation&quot;&gt;Senior Developer/Designer, Phase2&lt;/h3&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;description&quot;&gt;
      &lt;p&gt;
        Great design, like jazz, needs both harmony and discord skillfully executed in just the right places. On the
        web, many of our projects are playing sour notes. Let's want to get in tune. Even in the age or Responsive Web
        Design, many sites are being designed from the outside in. Whether the page is defined in Photoshop or, let's
        hope, in-browser, many design projects slide out of tune when they get to the second or third page. Components
        are inconsistent, page and layout dimensions vary, font sizes shift. These details add up. Living style guides
        have been proposed to address this problem, the trouble is they're often extracted from the finished project.
        Let's design the style guide first. Start from inside out with the most common aspects of a design language.
        Instead of envisioning individual pages, work to create a cohesive family of components and layouts that can be
        assembled into any page. By leveraging a tools that help us create the elements of out design language and
        visualize them in various contexts, we can make components, layouts, and even working pages that snap together
        beautifully. It's the new blank paper. This session will focus on the principles and benefits of this approach
        and use real-world examples from client work and personal projects. There will be some technical examples that
        will range from intermediate to advanced Sass and Responsive Web Design. This will include Sass partials,
        extends, mixins, and Compass extensions like Breakpoint and Singularity Grid System.
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/li&gt;
