&lt;div class=&quot;form-item form-type-textfield{{#atoms.text_field.required}} form-type-textfield--required{{/atoms.text_field.required}}{{#atoms.text_field.error}} form-type-textfield--error{{/atoms.text_field.error}}&quot;&gt;
  {{#atoms.text_field.show_label}}&lt;label&gt;{{ atoms.text_field.label }} {{#atoms.text_field.required}}&lt;span class=&quot;required&quot;&gt;*&lt;/span&gt;{{/atoms.text_field.required}}&lt;/label&gt;{{/atoms.text_field.show_label}}
  &lt;input type=&quot;{{atoms.text_field.type}}&quot; value=&quot;{{ atoms.text_field.value }}&quot; placeholder=&quot;{{ atoms.text_field.placeholder }}&quot; class=&quot;form-text {{ atoms.text_field.extra_classes }}&quot;&gt;
&lt;/div&gt;