// COLORS
.sg-swatch {
  @extend %no-bullets;
  &.color--black {      background-color: $color--black; }
  &.color--white {      background-color: $color--white; }
  &.color--gray {       background-color: $color--gray; }
  &.color--primary {    background-color: $color--primary; }
  &.color--secondary {  background-color: $color--secondary; }
  &.color--tertiary {   background-color: $color--tertiary; }
  &.color--quadrary {   background-color: $color--quadrary; }
  &.color--quintary {   background-color: $color--quintary; }
}

.sg-label {
  @include ellipsis();
}
