<ul class="schedule keynote">

  <li class="session keynote">
    <img src="/lib/img/speakers/tabatkins.jpg" alt="Side portrait of Tab Atkins Jr.">
    <h3 class="speaker">Tab Atkins Jr</h3>
    <h3 class="occupation">Spec Hacker for Google</h3>
  </li>

</ul>
