<div class="schedule-page">
  <h1 class="page-title">2014 Schedule</h1>
  <table class="schedule">
    <thead>
      <tr>
        <th class="schedule--time">Time</th>
        <th class="schedule--title">Title</th>
        <th class="schedule--speaker">Speaker</th>
        <th class="schedule--room">Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="schedule--time" rowspan="2">10-11am</td>
        <td class="schedule--title">Talk Title</td>
        <td class="schedule--speaker">Speaker Name</td>
        <td class="schedule--room">Rm 1</td>
      </tr>
      <tr>
        <!--<td class="schedule--time">10-11am</td>-->
        <td class="schedule--title">Talk Title</td>
        <td class="schedule--speaker">Speaker Name</td>
        <td class="schedule--room">Rm 1</td>
      </tr>
      <tr>
        <td class="schedule--time">11am-12pm</td>
        <td class="schedule--all" colspan="2">Lunch</td>
        <td class="schedule--room">Rm 1</td>
      </tr>
      <tr>
        <td class="schedule--time">12-1pm</td>
        <td class="schedule--title">Talk Title</td>
        <td class="schedule--speaker">Speaker Name</td>
        <td class="schedule--room">Rm 1</td>
      </tr>
    </tbody>
  </table>
</div>
