<div class="reviews">
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
  {{> molecules-review }}
</div>
