<div class="schedule-page">
  <h1 class="page-title">2014 Schedule</h1>
  {{#days}}
    <h2 class="schedule-date rhombus">
      <div class="rhombus-reset">{{date}}</div>
    </h2>
    <table class="schedule">
      <thead>
      <tr>
        <th class="schedule--time">Time</th>
        <th class="schedule--title">Title</th>
        <th class="schedule--speaker">Speaker</th>
        <th class="schedule--room">Room</th>
      </tr>
      </thead>
      <tbody>
      {{#sessions }}
        <tr class="{{slot}} {{current}}" data-start="{{start}}" data-end="{{end}}">
          <td data-th="Time" class="schedule--time">{{time}}</td>
          <td data-th="Title" class="schedule--title">{{title}}</td>
          <td data-th="Speaker" class="schedule--speaker">{{speaker}}</td>
          <td data-th="Room" class="schedule--room">{{room}}</td>
        </tr>
      {{/sessions}}
      </tbody>
    </table>
  {{/days}}
</div>
