<div class="speakers">
  <h1 class="page-title">2014 Speakers</h1>
  <h2 class="section-title">2014 Keynotes</h2>
  <section class="speaker--section keynote">
    {{>molecules-keynote}}
  </section>
  <h2 class="section-title">2014 Talks</h2>
  <section class="speaker--section talks">
    {{>molecules-talk}}
  </section>
  <h2 class="section-title">2014 Workshops</h2>
  <h3 class="included">Included with your ticket!</h3>
  <section class="speaker--section talks">
    {{>molecules-workshop}}
  </section>
</div>
