<section class="intro">
  {{> molecules-sizzle }}
  <div class="intro-text">
    <p>We are a group of awesomely talented and creative front-end developers,
      designers, and web enthusiasts coming together for three days of
      talks, workshops, and panels on the best CSS preprocessor
      — <strong>Sass</strong> — in electric
      <a href="/pages/nyc-primer">New York City</a>.</p>

    <p>We may not have created the web, but we work passionately to advance it
      and make better tools for front-end developers and designers so we can
      build and style more awesome sites for all.
    </p>
  </div>
</section>
