<aside class="sponsors">
  <h1>Stand out.
    <a href="mailto:sponsors@sassconf.com">Sponsor Sass Conf.</a>
  </h1>
  <p>
    If you're looking to put your sponsorship dollars to use,
    we have a few great ideas to get you noticed and contribute to a fun
    experience for our  attendees.</p>
  <p>
    A huge thanks to
    <a href="/pages/sponsors">last year's wonderful sponsors</a>, especially

    <span class="sponsor-item"><a href="https://teamtreehouse.com">Treehouse</a></span>

    <span class="sponsor-item"><a href="https://shopify.com">Shopify</a></span>

    <span class="sponsor-item"><a href="http://oddbird.net">OddBird</a></span>

    <span class="sponsor-item"><a href="https://github.com">GitHub</a></span>

  </p>
</aside>
