{{#brand_color_stacks}}
<h2>{{label}}</h2>
<ul class="sg-colors sg-colors-stack stack-{{label}} tints">
  <li><span class="sg-swatch rhombus tint-1"></span></li>
  <li><span class="sg-swatch rhombus tint-2"></span></li>
  <li><span class="sg-swatch rhombus tint-3"></span></li>
  <li><span class="sg-swatch rhombus tint-4"></span></li>
  <li><span class="sg-swatch rhombus tint-5"></span></li>
  <li><span class="sg-swatch rhombus tint-6"></span></li>
</ul>
<ul class="sg-colors sg-colors-stack stack-{{label}} shades">
  <li><span class="sg-swatch rhombus shade-1"></span></li>
  <li><span class="sg-swatch rhombus shade-2"></span></li>
  <li><span class="sg-swatch rhombus shade-3"></span></li>
  <li><span class="sg-swatch rhombus shade-4"></span></li>
  <li><span class="sg-swatch rhombus shade-5"></span></li>
  <li><span class="sg-swatch rhombus shade-6"></span></li>
</ul>
{{/brand_color_stacks}}
