<div class="sg-fonts">
  <p class="font-family-archer">Archer: {{headline.short}}</p>
  <p class="font-family-archer"><em>Archer, italic: {{headline.short}}</em></p>
  <p class="font-family-archer"><strong>Archer, strong: {{headline.short}}</strong></p>

  <p class="font-family-landmark-regular">Landmark Regular: {{headline.short}}</p>
  <p class="font-family-landmark-regular"><em>Landmark Regular, italic: {{headline.short}}</em></p>
  <p class="font-family-landmark-regular"><strong>Landmark Regular, strong: {{headline.short}}</strong></p>

  <p class="font-family-landmark-inline">Landmark Inline: {{headline.short}}</p>
  <p class="font-family-landmark-inline"><em>Landmark Inline, italic: {{headline.short}}</em></p>
  <p class="font-family-landmark-inline"><strong>Landmark Inline, strong: {{headline.short}}</strong></p>
</div>
