<div class="form-item form-type-checkbox">
  <label>
    <input type="checkbox">
    {{atoms.checkbox.text}}
  </label>
  {{#show_description}}
    <p class="description">{{description}}</p>
  {{/show_description}}
</div>
