{{> atoms-checkbox }}
{{> atoms-checkbox(atoms.checkbox.text: "Another Option with a description", show_description: true, description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.") }}
<div class="form-item form-type-checkbox">
  <label><input type="checkbox" checked>A Selected Option</label>
</div>
