<div class="form-item form-type-radio">
  <label>
    <input type="radio" name="{{atoms.radio.group}}">
      {{atoms.radio.text}}
    </label>
    {{#show_description}}
      <p class="description">{{description}}</p>
    {{/show_description}}
</div>
